<h2><%= @sku.code %></h2>
<hr/>

<% 
	dropship_category = Category.find_by(slug: 'dropshippers') 
	dropshippers = Affiliate.where(id: AffiliateCategory.select(:affiliate_id).where(category_id: dropship_category.id)) unless dropship_category.nil?
	
	supplier_category = Category.find_by(slug: 'suppliers') 
	suppliers = Affiliate.where(id: AffiliateCategory.select(:affiliate_id).where(category_id: supplier_category.id)) unless supplier_category.nil?
%>

<%= simple_form_for([:admin, :inventory, @sku], html: { class: 'form-inline' }) do |f| %>

  <%= render 'admin/shared/error_messages', object: f.object %>

  <%= f.input :code %>
  <%= f.input :description, input_html: { class: 'span8' } %>
  <%= f.input :low_threshold %>
  <%= f.input :committed %>
  <%= f.association :supplier, collection: suppliers %>
  <%= f.association :fulfiller, collection: dropshippers %>
  
  <div class="form-actions">
  	<%= f.button :submit %>
  </div>
<% end %>



<%= content_for :title do %>
	SKU's: <%= @sku.code %>
<% end %>





<% content_for :breadcrumbs do %>
	<li><a href="#">eCommerce</a></li>
	<li><%= link_to "Current Stock", admin_inventory_skus_path %></li>
	<li class="active"><%= @sku.code %></li>
<% end %>


