<% 
  item = inventory_item
  p = Product.find_by(id: item.inventoriable_id)
%>
	<tr>
		<td><%= link_to p.sku, admin_store_product_path(p) %></td>
		<td><%= p.name_with_option %></td>
		<td><%= item.inventory_location %></td>
		<td class="text-center"><%= item.quantity %></td>
    <td class="text-center"><%= item.lot %></td>
		<td><%= item.expiration %></td>
    <td>
    <% if item.transaction_type == 'order' %>
      <%= link_to "Order ##{item.transaction_id}", admin_store_order_path(id: item.transaction_id)%>
    <% elsif item.transaction_type == 'purchase_order' %>
      <%= link_to "PO ##{item.transaction_id}", admin_inventory_purchase_order_path(id: item.transaction_id)%>
    <% end %>
    </td>
    <td><%= item.user %></td>
	</tr>