<div class="pull-right hidden-xs">
  <select id="selAction" class="form-control" style="display: inline; width: 75%">
    <option> - - Select Action - - </option>
	  <option method="get" value="<%= admin_store_shipments_choose_order_path %>">New shipment</option>
    <option method="get" value="/admin/store/shipments_batch">Batch ship</option>
    <option method="post" value="/admin/store/shipments_packing_slip_batch">Packing slips (PDF)</option>
    <option method="post" value="/admin/store/shipments_invoice_batch">Invoices (PDF)</option>
    <option method="get" value="/admin/store/shipments/product_labels">Product labels (selected)</option>
    <option method="get" value="/admin/store/shipments/product_labels_pending">Product labels (all pending)</option>
    <option method="get" value="<%= admin_store_manifests_path %>">Manifest</option>
    <optgroup label="Change order status to ">
        <option method="post" value="/admin/store/shipments_update_status?status=shipped">Shipped</option>
        <option method="post" value="/admin/store/shipments_update_status?status=pending">Pending</option>
        <option method="post" value="/admin/store/shipments_update_status?status=void">Void</option>
    </optgroup>
  </select>
  <input type="button" class="btn btn-default btn-small" id="btnAction" value="Go" />	  
</div>

<h2><i class="fa fa-truck"></i> &nbsp;Shipments</h2>

<%= render "admin/shared/search_results_header", object: @shipments %>

<form id="frmBatch" action="" method="post">
	<%= token_tag %>
  
  <%
    status_list = Shipment.uniq(:status).pluck(:status)
    status_list << 'pending' unless status_list.include?('pending')
    status_list.reverse!
  %>
  
  <ul class="nav nav-tabs" style="margin-bottom: 10px;">
  <% status_list.each do |status| 
      count = Shipment.where(status: status).count %>
    <li class="<%= "active" if params[:status] == status %>"><a href="<%= admin_store_shipments_path(status: status)%>"><%= tab_count(status.titlecase, count)%></a></li>
  <% end %>
  <li class="<%= "active" if params[:status].blank? %>"><a href="<%= admin_store_shipments_path %>">All</a></li>
  </ul>
	
  <%= will_paginate @shipments %>
  <table class="table table-striped table-condensed footable">
    <tr>
  	  <th><input type="checkbox" id="chkAll" class="hidden-xs" /></th>
      <th data-breakpoints="xs">ID</th>
      <th>Ship to</th>
      <th>Destination</th>
      <th data-breakpoints="xs">Item(s)</th>
      <th data-breakpoints="xs">Age</th>
      <th data-breakpoints="xs">Shipped</th>
      <th data-breakpoints="xs">Method</th>
      <th class="hidden-xs" ></th>
      <th>Status</th>
      <th class="actions hidden-xs">&nbsp;</th>
    </tr>
    <%= render @shipments %>
  </table>
</form>

<%= render 'admin/shared/table_summary', data: @shipments %>



<% content_for :title do %>
    Shipments
<% end %>


<% content_for :breadcrumbs do %>
    <li><a href="#">eCommerce</a></li>
    <li class="active">Shipments</li>
<% end %>


<% content_for :head do %>

	<script type="text/javascript">
	    $(document).ready(function () {

	        $("#btnAction").click(function () {
	            $("#frmBatch").attr("action", $("#selAction").val());
	            $("#frmBatch").attr("method", $("#selAction option:selected").attr("method"));
	            $("#frmBatch").submit();
	        });

          $("#chkAll").change(function() {

            if ($(this).prop("checked"))
              $(".shipment-chk").prop("checked", true);
            else
              $(".shipment-chk").prop("checked", false);
          });

	    });
    </script>

<% end %>