<div class="pull-right hidden-xs">
  <%= render 'admin/store/shipments/group_actions'%>	  
</div>

<h2><i class="fa fa-truck"></i> &nbsp;Shipments</h2>

<%= render "admin/shared/search_results_header", object: @shipments %>

<form id="frmBatch" action="" method="post">
	<%= token_tag %>
  <input type="hidden" name="printer_id" value=""/>
  
  <%
    shipment_counts = Shipment.group(:status).count
    shipment_counts['pending'] = 0 unless shipment_counts.keys.include?('pending')
    shipment_counts = shipment_counts.sort
  %>
  
  <ul class="nav nav-tabs" style="margin-bottom: 10px;">
  <% shipment_counts.each do |status, count| %>
    <li class="<%= "active" if params[:status] == status %>"><a href="<%= admin_store_shipments_path(status: status)%>"><%= tab_count(status.titlecase, count)%></a></li>
  <% end %>
  <li class="<%= "active" if params[:status].blank? %>"><a href="<%= admin_store_shipments_path %>">All</a></li>
  </ul>
	
  <%= will_paginate @shipments %>
  <table class="table table-striped table-condensed footable">
    <tr>
  	  <th><input type="checkbox" id="chkAll" class="hidden-xs" /></th>
      <th data-breakpoints="xs"><%= sortable "store_shipments.order_id", "ID" %></th>
      <th><%= sortable "store_orders.shipping_name", "Ship to" %></th>
      <th><%= sortable "store_orders.shipping_city", "Destination" %></th>
      <th data-breakpoints="xs"><%= sortable "store_shipments.items_hash", "Item(s)" %></th>
      <th data-breakpoints="xs"><%= sortable "store_orders.submitted", "Age" %></th>
      <th data-breakpoints="xs">Shipped</th>
      <th data-breakpoints="xs">Method</th>
      <th class="hidden-xs" ></th>
      <th>Status</th>
      <th class="actions hidden-xs">&nbsp;</th>
    </tr>
    <%= render @shipments %>
  </table>
</form>

<%= render 'admin/shared/table_summary', data: @shipments %>


<% content_for :title do %>
    Shipments
<% end %>


<% content_for :breadcrumbs do %>
    <li><a href="#">eCommerce</a></li>
    <li class="active">Shipments</li>
<% end %>
