<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= @shipment %> Packing Slip</title>
  <style>
      body {
          background:white !important;
          color:black!important;
          width: 95%!important;
          margin: 0 auto!important;
          font-family:Arial, Helvetica, sans-serif!important;
          font-size:11px!important;
      }
      table {
          width: 100%!important;
          border-collapse:collapse;
      }
      table td{
          aborder: 1px solid #ccc;
          padding: 5px!important;
      }
      table.bordered, table.bordered td {
        border: solid 1px black;
      }
      table.bordered th {
        padding: 4px;
        border-bottom: solid 1px black;    
      }
      article {
          padding: 0px 0!important;
      }
      p {
          font-weight:normal !important;
          line-height:16px !important;
          margin-top: 0;
      }
      h2 {
          font-size:20px !important;
          margin-bottom: 0px;
      }
      .boxleft {
          float:left!important;
          width: 32%!important;
          margin-top:0px !important;
      }
      .boxcenter {
          float:left!important;
          width: 32%!important;
          margin-top:0px !important;
      }
      .boxright {
          float:left!important;
          width: 32%!important;
          margin-top:0px !important;
      }
      .textright{
          text-align:right !important;
      }
  </style>
</head>
<body onload="window.print()">
<section>
  <article>
    <header>
      <table class="no-border" cellspacing="0" cellpadding="0" border="0">
        <thead>
        <tr valign="top">
          <th scope="col" style="text-align:left;">
            <%
                loc_id = Cache.setting(@shipment.order.domain_id, :shipping, "Ship From Location ID")
                loc = Location.find(loc_id)
                
                if loc.pictures.length > 0
            %>
            <h2><img src="<%= cdn_image_url loc.pictures[0].file_path, 250, 60, 0 %>" alt="Logo"></h2>
            <% else %>
            <h2><%= loc.name %></h2>
            <% end %>
            
            <p>
              <%= loc.to_text(skip_country: true, new_line: "<br>").html_safe %>
            </p>
            <p>
              <strong>Web:</strong> <%= loc.website %><br/>
              <strong>Phone:</strong> <%= loc.phone %><br/>
              <strong>Email:</strong> <%= loc.email %>
            </p>
          </th>
          <th scope="col" style="text-align:right;"> <h2>PACKING SLIP</h2>
            <p>
              <strong>Order Date: </strong><%= sysdate @shipment.order.submitted %><br>
              <strong>Shipment ID: </strong> <%= @shipment %><br/>
              <img src="/barcode?code=<%= @shipment %>" />
            </p>
          </th>
        </tr>
        </thead>
      </table>

      <% upc_list = Upc.where(item: @shipment.items.collect { |x| x.order_item.item_id }) %>

      <div class="boxleft">
        <h2>
          Billing address            </h2>
        <p><%= @shipment.order.billing_name %><br/>
          <%= raw @shipment.order.billing_company + '<br/>' unless @shipment.order.billing_company.blank? %>
          <%= @shipment.order.billing_street1 %><br/>
          <%= raw @shipment.order.billing_street2 + '<br/>' unless @shipment.order.billing_street2.blank? %>
          <%= @shipment.order.billing_city %>, <%= @shipment.order.billing_state %> <%= @shipment.order.billing_zip %></p>
      </div>
      <div class="boxright">
        <h2>
          Shipping address            </h2>
        <p><%= @shipment.recipient_name %><br/>
          <%= raw @shipment.recipient_company + '<br/>' unless @shipment.recipient_company.blank? %>
          <%= @shipment.recipient_street1 %><br/>
          <%= raw @shipment.recipient_street2 + '<br/>' unless @shipment.recipient_street2.blank? %>
          <%= @shipment.recipient_city %>, <%= @shipment.recipient_state %> <%= @shipment.recipient_zip %></p>
      </div>
      <div style="clear:both;"></div>
    </header>
    <br/>
    <table class="bordered" width="100%" cellspacing="0" cellpadding="0">
      <thead>
      <tr>
        <th scope="col" style="text-align:left;"><strong>Order Date</strong></th>
        <th scope="col" style="text-align:left;"><strong>Order #</strong></th>
        <th scope="col" style="text-align:left;"><strong>Purchase Order #</strong></th>
        <th scope="col" style="text-align:left;"><strong>Customer Contact</strong></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @shipment.order.submitted.strftime("%d-%^b-%Y") %></td>
        <td><%= @shipment.order_id %></td>
        <td><%= @shipment.order.external_order_id.blank? ? "n/a" : @shipment.order.external_order_id %></td>
        <td><%= @shipment.recipient_name %></td>
      </tr>
      </tbody>
    </table>
    <br/><br/>
    <table class="bordered" width="100%" cellspacing="0" cellpadding="0">
      <thead>
      <tr>
        <th scope="col" style="text-align:left;"><strong>Item</strong></th>
        <th scope="col" style="text-align:left;"><strong>Description</strong></th>
        <th scope="col" style="text-align:right;"><strong>Order Quantity</strong></th>
        <th scope="col" style="text-align:right;"><strong>Ship Quantity</strong></th>
        <!--><th scope="col" style="text-align:center;"><strong>Lot #</strong></th>
        <th scope="col" style="text-align:center;"><strong>Expiration</strong></th>-->
      </tr>
      </thead>
      <tbody>
      <% @shipment.items.each do |item| 
          upc = upc_list.find { |x| x.item == item.sku } %>
      <tr>
        <td nowrap><input type="checkbox"> &nbsp; <%= item.sku.upcase %></td>
        <td>
          <%= item.product.name_with_option %>
          <% unless item.affiliate_id.nil? %>
            &nbsp; (<span><%= item.affiliate %></span>)
          <% end %>
          
          <% if upc && !upc.flags.include?("P") %>
            &nbsp; &nbsp; <i style="color: #ccc;">P</i>
          <% end %>
        </td>
        <td align="right" class="textright"><%= item.order_item.daily_deal_id.nil? ? item.order_item.quantity : item.quantity %></td>
        <td align="right" class="textright"><%= item.quantity unless item.quantity == 0 && !item.special_status.blank? %> <%= item.special_status %></td>
        <!--><td align="center" class="textcenter"><%= item.lot %></td>
        <td align="center" class="textcenter"><%= item.formatted_expiration %></td>-->
      </tr>
      <% end %>
      <tr style="height: 10<%= "0" if @shipment.items.length < 9 %>px;"><td colspan="4"></td></tr>
      <tr style="border-top: solid 1px black;">
        <td align="right" class="textright" colspan="3"><b>Total Items</b></td>
        <td align="right" class="textright"><b><%= @shipment.items.sum(:quantity) %></b></td>
      </tr>
      </tbody>
    </table>
  </article>


  <% unless @shipment.notes.blank? %>
    <h2>Comments</h2>
    <%= @shipment.notes %>
  <% end %>
  
  
  <% if ["Healthy Breeds", "Amazon.com"].include? @shipment.order.sales_channel %>
  <div style="text-align: ceanter; margin-top: 40px;">
    <img src="/img/HB10_reorder_coupon.jpg" width="250" style="padding: 10px; border: dashed 3px #666;">
  </div>
  <% end %>

</section>
</body>
</html>
