<h2>Shipment Labels</h2>

<div class="pull-right">
  <a href="#" class="zero-counts btn btn-sm btn-default"><i class="fa fa-dot-circle-o"></i> Zero Counts</a>
</div>

<div>
  For Shipments: 
  <% if @shipments.length > 8 %>
    <%= @shipments.length %> shipments
  <% else %>
    <% @shipments.each do |shp| %>
      <%= link_to shp.to_s, admin_store_shipment_path(shp) %> <span class="light">/</span> 
    <% end %>
  <% end %>
</div>


  <%
    prev_label = nil
    @items.each do |item|
      unless item[:label] == prev_label
      prev_label = item[:label] %>
      </table>
      </form>
      <form action="/admin/store/shipments/product_labels" method="post">
        <input type="hidden" name="label" value="<%= item[:label] %>">
      <h3>  
        <%= item[:label] || "- not set -" %>  &nbsp; 
        <button class="btn btn-xs btn-default"><i class="fa fa-print"></i> print</button>
      </h3>
      <table id="item-table" class="table table-striped table-condensed tablesorter">
        <tr>
          <th class="col-md-2">Item</th>
          <th class="col-md-5">Description</th>
          <th>Lot</th>
          <th>Expiration</th>
          <th class="col-md-1 calign">Quantity</th>
          <th class="col-md-1 calign">&nbsp;</th>
          <th class="col-md-1 calign">&nbsp;</th>
        </tr> 
    <% end %>
  <%
    pdf_path = nil
    item_number = item[:sku]
    unless item[:code].blank?
      item_number += "-" + item[:code] + "-" + item[:variation]
      pdf_path = "/userfiles/images/labels/#{item[:code]}/.pdf"
    end
  %>
      <tr>
        <td><%= item_number %></td>
        <td><%= item[:name] %>, <%= item[:option_title] %></td>
        <td><%= item[:lot] %></td>
        <td><%= item[:expiration] %></td>
        <td class="calign">
          <input type="hidden" name="lot-<%= item_number %>" value="<%= item[:lot] %>-<%= item[:expiration] %>">
          <input style="width: 60px; text-align: center;" type="numeric" name="item-<%= item_number %>" value="<%= item[:quantity] %>">
        </td>
        <td class="calign"><a class="print-single" href="#"><i class="fa fa-print"></i> print</a></td>
        <td class="calign"> 
          <% unless pdf_path.nil? %>
            <%= link_to Cache.setting('System', 'Static Files Url') + pdf_path, target: '_blank' do %>
                <i class="fa fa-file-pdf-o"></i> pdf
            <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>

</table>
</form>



<%= content_for :title do %>
    Shipment: Product Labels
<% end %>


<% content_for :head do %>
  <link href="/rhombus_store/tablesorter.css" rel="stylesheet">
  <script src="/rhombus_store/jquery.tablesorter.min.js"></script> 

  <script>
    $(document).ready(function() {
      
      $(".zero-counts").click(function() {
        $("input[type='numeric']").val("0");
      });
      
      $(".print-single").click(function() {
        var qty = $(this).parent().prev().find("input[type='numeric']").val();
        $(this).parent().parent().parent().find("input[type='numeric']").val("0");
        $(this).parent().prev().find("input[type='numeric']").val(qty);
        $(this).parents("form").submit();
      }); 
      
    });
  </script>

<% end %>



<% content_for :breadcrumbs do %>
    <li><a href="#">eCommerce</a></li>
    <li><%= link_to 'Shipments', admin_store_shipments_path(status: :pending) %></li>
    <li class="active">Product Labels</li>
<% end %>

