<h2>Shipment Labels</h2>

<% 
  shipment_ids = @shipment_items.collect { |x| x.shipment_id }.uniq 
  shipments = Shipment.where(id: shipment_ids)
%>
<div>
  For Shipments: <% shipment_ids.each do |x| %>
    <% shp = shipments.find { |s| s.id == x }%>
    <%= link_to shp.to_s, admin_store_shipment_path(shp) %> <span class="light">/</span> 
  <% end %>
</div>
<hr style="margin: 15px 0 20px 0;"/>


<style>
    .table>tbody>tr>td { vertical-align: middle; }
</style>


<h3>Items:</h3>
<table class="table table-condensed table-striped items">
  <tr>
    <th>Item</th>
    <th>Description</th>
    <th>Label</th>
    <th class="calign">Quantity</th>
    <th>&nbsp;</th>
  </tr>
  <% @shipment_items.each do |item|
      next unless item.order_item.daily_deal_id.nil?
        dir = item.order_item.item_id.split('-')[1]
        pdf_path = "/userfiles/images/labels/#{dir}/#{item.order_item.item_id}.pdf"
  %>
      <tr>
        <td><%= item.order_item.item_id.upcase %></td>
        <td><%= item.order_item.product.name_with_option %></td>
        <td>
          <% unless item.order_item.product.label_sheet.nil? %>
            <%= item.order_item.product.label_sheet %>
          <% else %>
            <span class="light">- not set -</span>
          <% end %>
        </td>
        <td class="calign"><%= item.order_item.quantity %></td>
        <td>
          <%= link_to Cache.setting('System', 'Static Files Url') + pdf_path, target: '_blank' do %>
              <i class="fa fa-download"></i> pdf
          <% end %>
        </td>
      </tr>
  <% end %>

</table>



<%= content_for :title do %>
    Shipment: Product Labels
<% end %>



<% content_for :breadcrumbs do %>
    <li><a href="#">eCommerce</a></li>
    <li><%= link_to 'Shipments', admin_store_shipments_path %></li>
    <li class="active">Product Labels</li>
<% end %>

