<% pmt = Payment.find_by(payable_type: :shipment, payable_id: @shipment.id) %>

<div class="dropdown pull-right">
  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-hand-right"></i> Select Action
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li>
      <%= link_to edit_admin_store_shipment_path(@shipment) do %>
          <i class="fa fa-edit"></i> Edit
      <% end %>
    </li>
    <li>
      <%= link_to admin_store_shipments_product_labels_path(shipment_id: [@shipment.id]) do %>
          <i class="fa fa-print"></i> Product Labels
      <% end %>
    </li>
    <li>
      <%= link_to new_admin_billing_invoice_path(shipment_id: @shipment.id) do %>
          <i class="fa fa-file-o"></i> Create Invoice
      <% end %>
    </li>
    <li>
      <%= link_to admin_store_shipments_packing_slip_batch_path, class: "print-link", "print-format" => "pdf" do %>
          <i class="fa fa-print"></i> Print Packing Slip
      <% end %>
    </li>
    <% if @shipment.items.length > 1 %>
    <li>
      <%= link_to scan_admin_store_shipment_path(@shipment) do %>
        <i class="fa fa-barcode"></i> Scan
      <% end %>
    </li>
    <% end %>
    <% if @shipment.status == "shipped" %>
    <li>
      <%= link_to email_confirmation_admin_store_shipment_path(@shipment) do %>
        <i class="fa fa-envelope"></i> Email tracking info
      <% end %>
    </li>
    <% end %>
    <li>
      <%= link_to admin_store_easy_post_path(shipment_id: @shipment.id) do %>
        <i class="fa fa-truck"></i> Get Rates and Ship
	    <% end %>
    </li>
  </ul>
</div>


<h2>
  <i class="fa fa-truck"></i> Shipment #<%= @shipment %> 
</h2>

<div class="pull-right">
  <% unless pmt.nil? %>
    <span class="label label-info">posted: <%= number_to_currency(pmt.amount * -1.0) %></span>
  <% else %>
    <span class="label label-warning">not posted</span>
  <% end %> &nbsp; 
  <span class="label label-success">invoice: <%= number_to_currency(@shipment.invoice_amount) %></span>
</div>
  
<div>
  <b>Created: </b> <%= time_ago_in_words(@shipment.created_at) %> ago
  &nbsp; <span class="label <%= 'label-warning' if @shipment.status == 'pending' %>  <%= 'label-success' if @shipment.status == 'shipped' %>"><%= @shipment.status %></span>
  &nbsp; <%= link_to admin_store_order_path(@shipment.order) do %>
    <i class="fa fa-shopping-cart"></i> View Order
  <% end %>
</div>

<hr style="margin-bottom: 20px;" />

<div class="row">

  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Ship From:</div>
      <div class="panel-body">
        <%= @shipment.ship_from_company %><br/>
        <%= @shipment.ship_from_street1 %><br/>
        <%= raw @shipment.ship_from_street2 + '<br/>' unless @shipment.ship_from_street2.blank? %>
        <%= @shipment.ship_from_city %>, <%= @shipment.ship_from_state %> <%= @shipment.ship_from_zip %> <br/>
        <%= Country.find_country_by_alpha2(@shipment.ship_from_country) %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Recipient Address:</div>
      <div class="panel-body">
        <%= @shipment.recipient_name %><br/>
        <%= raw @shipment.recipient_company + '<br/>' unless @shipment.recipient_company.blank? %>
        <%= @shipment.recipient_street1 %><br/>
        <%= raw @shipment.recipient_street2 + '<br/>' unless @shipment.recipient_street2.blank? %>
        <%= @shipment.recipient_city %>, <%= @shipment.recipient_state %> <%= @shipment.recipient_zip %> <br/>
        <%= Country.find_country_by_alpha2(@shipment.recipient_country) %>
      </div>
    </div>

  </div>

  <% unless @shipment.notes.blank? %>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Notes:</div>
      <div class="panel-body">
        <%= @shipment.notes %>
      </div>
    </div>
  </div>
  <% end %>

</div>


<% 
  item_count = @shipment.items.select { |x| x.quantity > 0 }.count
  total_qty = @shipment.items.map(&:quantity).reduce(:+)
%>

<h4>Items:</h4>
<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>Item</th>
        <th>UPC</th>
        <th>Description</th>
        <th class="text-right">Ship Qty.</th>
        <th class="calign">Status</th>
    </tr>
    <% @shipment.items.each do |item| 
        next if item.order_item.nil? || (item.quantity == 0 && item.special_status.blank?) %>
        <tr>
            <td nowrap><%= item.order_item.item_number %></td>
            <td><%= item.order_item.product.upc %></td>
            <td><%= link_to item.order_item.product.full_name, admin_store_product_path(item.order_item.product_id) %></td>
            <td class="text-right"><%= number_with_delimiter(item.quantity) %></td>
            <td class="calign"><%= item.special_status %></td>
        </tr>
    <% end %>
    <tr>
      <th><%= pluralize item_count, "item" %></th>
      <th class="ralign" colspan="2">Total: </th>
      <th class="text-right"><%= number_with_delimiter(total_qty) %></th>
      <th></th>
    </tr>
</table>

<br/>


<% if @shipment.status == 'shipped' %>
	<div class="hidden-print col-md-4" style="padding-left: 0;">
    <% unless @shipment.courier_data.nil? %>
		  <img width="100%" src="<%= label_image_admin_store_shipment_path(@shipment) %>" alt="label image"/>
    <% else %>
    <div style="color: #ccc; font-size: 24px; text-align: center; line-height: 150px; border: solid 1px #ccc;">
      Shipping Label not available
    </div>
    <% end %>
	</div>
	
	<div class="col-md-8" style="margin-bottom: 40px;">
	    <%= carrier_image @shipment.ship_method.split[0] unless @shipment.ship_method.blank? %>
	    <table class="table table-condensed table-bordered summary" style="margin-bottom: 10px;">
      <% unless @shipment.fulfilled_by_id.nil? %>
	      <tr>
	        <td class="key">Fulfilled by:</td>
	        <td><%= link_to @shipment.fulfiller, admin_system_user_path(@shipment.fulfiller) %></td>
	      </tr>
		  <% end %>
	      <tr>
	        <td class="key">Order #:</td>
	        <td><%= link_to @shipment.order_id.to_s, admin_store_order_path(@shipment.order_id) %></td>
	      </tr>
	      <tr>
	        <td class="key" width="160">Service Type:</td>
	        <td><%= @shipment.carrier %> <%= @shipment.ship_method %></td>
	      </tr>
	      <tr>
	        <td class="key">Ship Cost:</td>
	        <td><%= number_to_currency(@shipment.ship_cost) %></td>
	      </tr>
        <% unless @shipment.ship_date.nil? %>
	      <tr>
	        <td class="key">Ship Date:</td>
	        <td><%= @shipment.ship_date.strftime("%Y-%m-%d") %></td>
	      </tr>
        <% end %>
	      <tr>
	        <td class="key">Tracking:</td>
	        <td>
            <% unless @shipment.tracking_number.blank? %>
              <a href="<%= tracking_url(@shipment) %>" target="_new"><%= @shipment.tracking_number %></a>
            <% else %>
              n/a
            <% end %>
          </td>
	      </tr>
	      <tr>
	        <td class="key">Package Type:</td>
	        <td><%= @shipment.packaging_type %></td>
	      </tr>
	      <tr>
	        <td class="key">Weight:</td>
	        <td><%= @shipment.package_weight %> lb.</td>
	      </tr>
		  <% if @shipment.packaging_type == 'YOUR PACKAGING'%>
	      <tr>
	        <td class="key">Dimensions:</td>
	        <td><%= @shipment.package_length %>" x <%= @shipment.package_width %>" x <%= @shipment.package_height %>" </td>
	      </tr>
		  <% end %>
	      <tr>
	        <td class="key">Label Format:</td>
	        <td><%= @shipment.label_format %></td>
	      </tr>
	    </table>

    	<% unless @shipment.courier_data.nil? %>
			      
        <% if @shipment.status == "shipped" && @shipment.carrier == 'USPS' && @shipment.ship_date > 1.month.ago %>
          <%= link_to "Void Shipment", void_label_admin_store_shipment_path(@shipment), class: "btn btn-sm btn-danger pull-right", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> please wait ..." }   %>
			  <% end %>
        
        <%= link_to admin_store_shipments_shipping_label_batch_path, class: 'btn btn-primary print-link', 'print-format' => 'pdf,zpl,epl2' do %>
          <i class="fa fa-print fa-fw"></i> Reprint Label
        <% end %>
        
    	<% end %>
    </div>
    
<% else %>

  <div class="pull-right">
    <%= link_to admin_store_easy_post_path(shipment_id: @shipment.id), class: "btn btn-primary" do %>
      <i class="fa fa-arrow-right"></i> Get Rates and Ship
    <% end %>
  
    <form style="display: inline" method="post" action="/admin/store/shipments_update_status?status=shipped">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type="hidden" name="shipment_id[]" value="<%= @shipment.id %>"/>
      <button class="btn btn-success"><i class="fa fa-check"></i> Mark as shipped</button>
    </form>
  </div>
<% end %>


<% if @shipment.inventory_transaction.nil? %>
<div class="alert alert-warning">
  <i class="fa fa-exclamation-triangle"></i> There is no corresponding inventory transaction.  
  <%= link_to "Create one", create_inventory_transaction_admin_store_shipment_path(@shipment) %>
</div>
<% else %>

<div class="col-md-6 pull-left">
  <%= render partial: 'admin/inventory/inventory_transactions/box', locals: { inventory_transaction: @shipment.inventory_transaction } %>
</div>

<% end %>

<form id="frmBatch" action="" method="post">
	<%= token_tag %>
  <input type="hidden" name="printer_id" value=""/>
  <input type="hidden" name="shipment_id[]" value="<%= @shipment.id %>"/>
</form>

<div class="light small" style="clear: left;"><br><br>hash: <%= @shipment.items_hash %></div>




<% content_for :title do %>
    Shipment <%= @shipment.order_id %>-<%= @shipment.sequence %>
<% end %>


<% content_for :breadcrumbs do %>
    <li><a href="#">eCommerce</a></li>
    <li><%= link_to 'Shipments', admin_store_shipments_path(status: :pending) %></li>
    <li class="active"><%= @shipment %></li>
<% end %>

