<% package_types = [ 'Postcard',
                    'Letter',
                    'Large Envelope or Flat',
                    'Thick Envelope',
                    'Package',
                    'Flat Rate Box',
                    'Small Flat Rate Box',
                    'Large Flat Rate Box',
                    'Flat Rate Envelope',
                    'Flat Rate Padded Envelope',
                    'Large Package',
                    'Oversized Package',
                    'Regional Rate Box A',
                    'Regional Rate Box B',
                    'Regional Rate Box C',
                    'Legal Flat Rate Envelope']

   service_types = {
           'US-FC'  => 'USPS First-Class Mail',
           'US-MM'  => 'USPS Media Mail',
           'US-PM'  => 'USPS Priority Mail',
           'US-BP'  => 'USPS BP',
           'US-LM'  => 'USPS LM',
           'US-XM'  => 'USPS Express Mail',
           'US-EMI' => 'USPS Express Mail International',
           'US-PMI' => 'USPS Priority Mail International',
           'US-FCI' => 'USPS First Class Mail International',
           'US-CM'  => 'USPS Critical Mail',
           'US-PS'  => 'USPS Parcel Select'
   }

   image_Types = [
           'Auto',
           'Epl',
           'Gif',
           'Jpg',
           'Pdf',
           'Png',
           'Zpl'
   ]
%>
<%= link_to "Modify Shipment", edit_admin_store_shipment_path(@shipment), class: "btn btn-sm btn-default pull-right" %>
<h2>
  <img src="http://admin.barkingdeals.com/Areas/Admin/Content/Images/usps.gif"/> &nbsp; #<%= @shipment %>
  <span class="label <%= 'label-warning' if @shipment.status == 'pending' %>  <%= 'label-success' if @shipment.status == 'shipped' %>"><%= @shipment.status %></span>
</h2>
<hr />

<div class="row" style="margin-left: 0; padding-bottom: 10px;">

  <div class="col-md-6" style="padding-top: 20px;">

    <%= simple_form_for @shipment, url: '', html: { class: 'form-inline' } do |f| %>

        <%= f.input :packaging_type, collection: package_types, label: 'Packaging' %>
        <%= f.input :package_weight, label: 'Weight (lbs)' %>

        <div class="form-group string optional shipment_dimensions">
          <label class="string optional control-label" for="shipment_dimensions">Size (in.)</label>
          <div class="dimensions" style="display: inline;">
            <%= f.input_field :package_length %> &nbsp;x&nbsp;
            <%= f.input_field :package_width  %> &nbsp;x&nbsp;
            <%= f.input_field :package_height  %>
          </div>
        </div>
        <%= f.input :ship_date %>

        <%= f.submit 'Get Rates', class: 'btn btn-success' %>
    <% end %>
  </div>

  <div class="col-md-6">
    <% if @rates %>

        <div class="panel panel-primary">
          <div class="panel-heading">From:</div>
          <div class="panel-body">
              <b><%= @ship_from_address[:full_name] %></b><br/>
              <%= @ship_from_address[:address1] %><br/>
              <%= raw @ship_from_address[:address2] + '<br/>' unless @ship_from_address[:address2].blank? %>
              <%= @ship_from_address[:city] %>, <%= @ship_from_address[:state] %>
              <%= @ship_from_address[:zip_code] %><%= raw "-" + @ship_from_address[:zip_code_add_on] unless @ship_from_address[:zip_code_add_on].blank? %>
          </div>
        </div>


        <div class="panel panel-primary">
          <div class="panel-heading">To:</div>
          <div class="panel-body">
              <b><%= @recipient_address[:full_name] %></b><br/>
              <%= @recipient_address[:address1] %><br/>
              <%= raw @recipient_address[:address2] + '<br/>' unless @recipient_address[:address2].blank? %>
              <%= @recipient_address[:city] %>, <%= @recipient_address[:state] %>
              <%= @recipient_address[:zip_code] %><%= raw "-" + @recipient_address[:zip_code_add_on] unless @recipient_address[:zip_code_add_on].blank? %>
          </div>
        </div>

    <% else %>

        <div class="panel panel-primary">
          <div class="panel-heading">From:</div>
          <div class="panel-body">
              <b><%= @shipment.ship_from_company %></b><br/>
              <%= @shipment.ship_from_street1 %><br/>
              <%= raw @shipment.ship_from_street2 + '<br/>' unless @shipment.ship_from_street2.blank? %>
              <%= @shipment.ship_from_city %>, <%= @shipment.ship_from_state %> <%= @shipment.ship_from_zip %> <br/>
              <%= @shipment.ship_from_country %>
          </div>
        </div>


        <div class="panel panel-primary">
          <div class="panel-heading">To:</div>
          <div class="panel-body">
              <b><%= @shipment.recipient_name %></b><br/>
              <%= raw @shipment.recipient_company + '<br/>' unless @shipment.recipient_company.blank? %>
              <%= @shipment.recipient_street1 %><br/>
              <%= raw @shipment.recipient_street2 + '<br/>' unless @shipment.recipient_street2.blank? %>
              <%= @shipment.recipient_city %>, <%= @shipment.recipient_state %> <%= @shipment.recipient_zip %> <br/>
              <%= @shipment.recipient_country %>
          </div>
        </div>

    <% end %>

  </div>

</div>

<hr/>

<%= render partial: 'admin/shared/error_messages', locals: {object: @shipment} %>

<% if @rates %>
    <h3>Rates</h3>
    <% @rates.each do |rate| %>
    <form action="/admin/shipping/stamps/label" method="get">
      <input type="hidden" name="shipment_id" value="<%= params[:shipment_id] %>"/>
      <input type="hidden" name="service_type" value="<%= rate[:service_type] %>"/>
    <table class="table table-bordered table-condensed">
      <tr>
        <th width="60"></th>
        <th><%= service_types[rate[:service_type]] %></th>
        <th><%= rate[:package_type] %></th>
        <th><%= rate[:weight_lb] %> lb.</th>
        <th><%= rate[:deliver_days] %> days</th>
        <th><%= rate[:delivery_date] %></th>
        <th></th>
      </tr>
      <tr>
        <td style="text-align: center;"><b>$<%= rate[:amount] %></b></td>
        <td colspan="5" style="font-size: 0.7em; color: #666;">
        <% rate[:add_ons][:add_on_v5].each do |addon| %>
            <% if addon[:missing_data].nil? %>
            <span class="add-on">
              <input type="checkbox" name="addons[]" value="<%= addon[:add_on_type] %>"> <%= addon[:add_on_type] %>
              <% unless addon[:amount].nil? %>
                  &nbsp; <b>$<%= addon[:amount] %></b>
              <% end %>
            </span> &nbsp;
            <% end %>
        <% end %>
        </td>
        <td class="ralign" style="white-space: nowrap;">
          <select name="format" style="width: 80px;">
            <option value="Epl">EPL2</option>
            <option value="Pdf">PDF</option>
            <option value="Png">PNG</option>
          </select>
          <button class="btn btn-sm btn-default">Process</button>
        </td>
      </tr>
    </table>
    </form>
    <% end %>
<% end %>


<% content_for :title do %>
    USPS Shipment #<%= @shipment %>
<% end %>


<% content_for :head do %>
    <style>
        .dimensions .numeric { width: 45px; text-align: center;}
        .form-inline .control-label { width: 100px; paddin: 0; }
        .add-on { background-color: #dfeaef; color: #666; text-shadow: none; font-weight: normal; display: inline-block; width: 120px; margin-bottom: 4px; }
        th { background-color: #ddd; padding: 0; }

    </style>

    <link href="/css/datepicker.css" rel="stylesheet">
    <script src="/js/bootstrap-datepicker.js"></script>
    <script>
      $(document).ready(function() {

          $('.input-append.date').datepicker({
              format: "yyyy-mm-dd"
          });

      });
    </script>
<% end %>


<% content_for :breadcrumbs do %>
    <li><a href="#">eCommerce</a></li>
    <li><%= link_to 'Shipments', admin_store_shipments_path %></li>
    <li><%= link_to @shipment, admin_store_shipment_path(@shipment)%></li>
    <li class="active">USPS</li>
<% end %>

