<h2>Code <%= @product_shipping_rate.code %></h2>
<hr/>

<%= simple_form_for [:admin, :store, @product_shipping_rate] do |f| %>

  <%= render 'admin/shared/error_messages', object: f.object %>

  <%= f.input :code %>
  <%= f.input :destination_country_code %>
  <%= f.input :ship_method %>
  <%= f.input :first_item, input_html: {class: 'span2'} %>
  <%= f.input :second_item, input_html: {class: 'span2'} %>
  <%= f.input :additional_items, input_html: {class: 'span2'} %>

  <hr>
  <div class="form-actions">
    <%= button_tag "Save changes", :class => "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait ..."} %>
  </div>

<% end %>



<%= content_for :title do %>
  Shipping Rates: <%= @product_shipping_rate.code %>
<% end %>





<% content_for :breadcrumbs do %>
  <li><a href="#">eCommerce</a></li>
  <li><%= link_to "Shipping Rates", admin_store_product_shipping_rates_path %></li>
  <li class="active">Code <%= @product_shipping_rate.code %></li>
<% end %>