<h2><% if @purchase_order.id.nil? %>
	New Purchase Order
	<% else %>
	Purchase Order #<%= @purchase_order.id %>
	<% end %>
	</h2>
<hr>

<%= simple_form_for [:admin, :inventory, @purchase_order] do |f| %>
  <input type="hidden" name="add_more_items" value=""/>

  <%= render 'admin/shared/error_messages', object: f.object %>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :status, collection: ['new', 'open', 'partial', 'received', 'cancelled']%>
      <%= f.association :affiliate, collection: Cache.affiliate_list('purchase-orders') %>
      <%= f.association :supplier, collection: Cache.affiliate_list('suppliers') %>
      <%= f.input :issue_date, as: :datepicker %>
      <%= f.input :due_date, as: :datepicker %>
      <%= f.input :payment_terms %>
    </div>
    
    <div class="col-md-6">
      <%= f.input :ship_method %>
      <div class="form-group string optional brand_website">
    	  <label class="string optional control-label col-sm-3" for="shipping_address">Address</label>
    	  <div class="col-sm-9">
          <select id="sel-shipping-address">
      		<option value="">-- select warehouse --</option>
      	  <% CmsCache.location_list('warehouses').each do |loc| %>
      	  	<option value="<%= loc.to_text %>"><%= loc.name %></option>
      	  <% end %>
      	  <select>
        </div>
      </div>
      <%= f.input :ship_to, as: :text, input_html: { rows: 4 } %>
      <%= f.input :notes, as: :text, input_html: { rows: 3 } %>
    </div>
  </div>
  

  
	 <div class="panel panel-info">
    <div class="panel-heading">
      <%= link_to '+ add more items', '#', class: 'add-more-items pull-right' %>
      Items
    </div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <th style="width: 80px;">SKU</th>
          <th style="width: 80px;">Supplier ID</th>
          <th>Description</th>
          <th style="width: 60px;">Unit Price</th>
          <th style="width: 60px;">Quantity</th>
          <th style="width: 50px;"></th>
        </tr>
      <%= f.fields_for :items do |itemf| %>
        <% item = @purchase_order.items[itemf.index] %>
        <tr>
          <td><%= itemf.input_field :sku, class: 'item-id' %></td>
          <td><%= itemf.input_field :supplier_code, class: 'supplier-sku' %></td>
          <td><%= itemf.input_field :description, style: 'width: 100%', class: 'item-desc' %></td>
          <td><%= itemf.input_field :unit_price, class: 'unit-price text-center' %></td>
          <td><%= itemf.input_field :quantity, class: 'qty text-center' %></td>
          <td><i class="fa fa-times"></i>
            <%= itemf.hidden_field :_destroy, class: 'destroy' %>
          </td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
  
  <%= f.button :submit %>

<% end %>



<%= content_for :title do %>
	Purchase Orders
<% end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">Inventory</a></li>
	<li><%= link_to "Purchase Orders", admin_inventory_purchase_orders_path(status: :open) %></li>
	<% unless @purchase_order.id.nil? %>
		<li><%= link_to "##{@purchase_order.id}", admin_inventory_purchase_order_path(@purchase_order) %></li>
		<li class="active">edit</li>
	<% else %>
		<li class="active">new</li>
	<% end %>
<% end %>


<% content_for :head do %>
	<script>
	$(document).ready(function() {

		$('#sel-shipping-address').change(function() {
			$('#purchase_order_ship_to').val($(this).val());
		});
    
    $(".fa-times").click(function () {
      $(this).parent().parent().hide("slow");
      $(this).siblings(".destroy").val("true");
      return false;
    });
    
    $(".add-more-items").click(function() {
      $("input[name='add_more_items']").val(<%= @purchase_order.items.length %>);
      $("form.form-horizontal").submit();
    });
    
    $(".item-id").change(function() {
      var item = $(this);
      
      $.get('/admin/store/products/item_info', { 'sku': $(this).val(), 'affiliate_id' : $("#purchase_order_supplier_id").val() } , function(data) {
        
        item.parent().parent().find('.item-desc').val(data.description);
        item.parent().parent().find('.unit-price').val(data.price);
        item.parent().parent().find('.qty').val(data.moc);  
        item.parent().parent().find('.supplier-sku').val(data.sku);  
         
        if (data.status == 'ok') { 
          item.parent().parent().find('.qty').focus();
        } else {
          item.parent().parent().find('.item-desc').val('ITEM NOT FOUND!');
          item.parent().parent().find('.item-id').select();
        }
        
      });
    });
	
	});
	</script>
<% end %>
