<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Purchase Order <%= @purchase_order.id %></title>
  <style>
      body {
          background:white !important;
          color:black!important;
          width: 95%!important;
          margin: 0 auto!important;
          font-family:Arial, Helvetica, sans-serif!important;
          font-size:12px!important;
      }
      table {
          width: 100%!important;
          border-collapse:collapse;
      }
      table td {
          border-right: 1px solid #000;
          padding: 5px!important;
      }
      table.bordered {
        border: solid 1px black;
      }
      table.bordered th {
        padding: 4px;
        border-bottom: solid 1px black;    
      }
      article {
          padding: 0px 0!important;
      }
      p {
          font-weight:normal !important;
          line-height:16px !important;
          margin-top: 0;
      }
      h2 {
          font-size:20px !important;
          margin-bottom: 0px;
      }
      h3 {
        margin-bottom:4px;
      }
      .boxleft {
          float:left!important;
          width: 32%!important;
          margin-top:0px !important;
      }
      .boxcenter {
          float:left!important;
          width: 32%!important;
          margin-top:0px !important;
      }
      .boxright {
          float:left!important;
          width: 32%!important;
          margin-top:0px !important;
      }
      .textright{
          text-align:right !important;
      }
  </style>
</head>
<body onload="window.print()">
<section>
  <article>
    <header>
      <table class="no-border" cellspacing="0" cellpadding="0" border="0">
        <thead>
        <tr valign="top">
          <th scope="col" style="text-align:left;">
            <h2>Pet Healthbox, LLC</h2>
            <p>
              231 Douglas Rd E.<br/>
              Suite 8<br>
              Oldsmar, FL 34677
            </p>
            <p>
              <strong>Phone:</strong> 855-727-3337<br/>
              <strong>Fax:</strong> 813-814-5888<br/>
            </p>
          </th>
          <th scope="col" style="text-align:right;"> <h2>PURCHASE ORDER</h2>
            <p>
              <strong>Purchase Order Number: </strong><%= @purchase_order.id %><br>
              <strong>Vendor Code: </strong> <%= @purchase_order.supplier.code %><br/>
              <img src="/barcode?code=PO<%= @purchase_order.id %>" />
            </p>
          </th>
        </tr>
        </thead>
      </table>


      <div class="boxleft">
        <h3>Purchased From</h3>
        <p><%= @purchase_order.supplier.name %><br/>
          <%= raw @purchase_order.supplier.address_as_text.gsub("\n", "<br>") %>
      </div>
      <div class="boxright">
        <h3>Ship To</h3>
        <p><%= raw @purchase_order.ship_to.gsub("\n", "<br>") %></p>
      </div>
      <div style="clear:both;"></div>
    </header>
    <br/>
    <table class="bordered" width="100%" cellspacing="0" cellpadding="0">
      <thead>
      <tr>
        <th scope="col" style="text-align:left;"><strong>PO Date</strong></th>
        <th scope="col" style="text-align:left;"><strong>Ship Via Carrier</strong></th>
        <th scope="col" style="text-align:left;"><strong>Terms</strong></th>
        <th scope="col" style="text-align:left;"><strong>ATTN:</strong></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @purchase_order.issue_date.strftime("%d-%^b-%Y") %></td>
        <td><%= @purchase_order.ship_method %></td>
        <td><%= @purchase_order.payment_terms %></td>
        <td><%= @purchase_order.supplier.contact_person %></td>
      </tr>
      </tbody>
    </table>
    <br/><br/>
    <table class="bordered" width="100%" cellspacing="0" cellpadding="0">
      <thead>
      <tr>
        <th scope="col" style="text-align:left;"><strong>Quantity</strong></th>
        <th scope="col" style="text-align:left;"><strong>Item No.</strong></th>
        <th scope="col" style="text-align:left;"><strong>Description</strong></th>
        <th scope="col" style="text-align:right;"><strong>Unit Cost</strong></th>
        <th scope="col" style="text-align:right;"><strong>Ext. Cost</strong></th>
      </tr>
      </thead>
      <tbody>
      <% @purchase_order.items.each do |item| %>
      <tr>
        <td><%= item.quantity %></td>
        <td><%= item.supplier_code %></td>
        <td><%= item.description %></td>
        <td align="right" class="textright"><%= number_to_currency(item.unit_price) %></td>
        <td align="right" class="textright"><%= number_to_currency(item.unit_price * item.quantity) %></td>
      </tr>
      <% end %>
      <tr style="border-top: solid 1px black;">
        <td align="right" class="textright" colspan="4"><b>Total:</b></td>
        <td align="right" class="textright"><b><%= number_to_currency(@purchase_order.total_amount) %></b></td>
      </tr>
      </tbody>
    </table>
  </article>
  
  <h3>Notes:</h3>
  Ship unlabeled<br>
  Lot/Exp Date on outisde of box only

</section>
</body>
</html>
