<h2><i class="fa fa-cog fa-spin"></i> Batch Status</h2>
<hr/>


<table class="table table-striped table-condensed">
  <tr>
    <th>ID</th>
    <th>Created</th>
    <th>Ship to</th>
    <th>Destination</th>
    <th>Status</th>
    <th>Batch Status</th>
    <th>Message</th>
  </tr>
  <% @shipments.each do |shipment|  %>
    <tr id="<%= shipment.id %>">
      <td nowrap><%= link_to shipment.to_s, admin_store_shipment_path(shipment) %></td>
      <td nowrap class="light"><%= systime shipment.created_at %></td>
      <td><%= shipment.recipient_name %></td>
      <td><%= shipment.recipient_city %>, <%= shipment.recipient_state %></td>
      <td class="status"><%= shipment_status(shipment) %></td>
      <td class="batch-status"><%= shipment.batch_status %></td>
      <td class="batch-message"><%= shipment.batch_status_message %></td>
    </tr>
  <% end %>
</table>

<a href="<%= admin_store_shipments_path(status: :pending) %>" class="btn btn-primary" style="display: none;">Return to shipments</a>


<% content_for :title do %>
    EasyPost Batch Ship
<% end %>


<% content_for :head do %>
    <style>
        .batch-status { font-style: italic;}
    </style>
    
    <script>
      var timer;
    
      function update_status() {
        $.ajax({
          dataType: "json",
          url: "/admin/store/easy_post/batch_status.json?shipment_ids=<%= params[:shipment_ids] %>",
          success: function(data) {
            
            var active_count = 0;
            
            for (i = 0; i < data.length; i++) {
              var status_span = $("#" + data[i].id + " .status span") 
              
              status_span.html(data[i].status);
              $("#" + data[i].id + " .batch-status").html(data[i].batch_status);
              $("#" + data[i].id + " .batch-message").html(data[i].batch_status_message);
              
              status_span.removeClass("label-success label-warning label-danger");
              if (data[i].status == "shipped")
                status_span.addClass("label-success");
              else if (data[i].status == "pending")
                status_span.addClass("label-warning");
              else
                status_span.addClass("label-danger");
              
              if (data[i].batch_status == "queued" || data[i].batch_status == "processing")
                active_count += 1; 
            }
            
            if (active_count == 0) {
              clearInterval(timer);
              setTimeout(update_status, 5000);
              $("h2 > i").switchClass("fa-cog fa-spin", "fa-check");
              $(".btn-primary").show();
            }
          }
        });
      }
    
      $(document).ready(function() {
        timer = setInterval(update_status, 5000);
        
        $("#master-search").val("shp ");

        //update_status();
      });
    </script>
<% end %>


<% content_for :breadcrumbs do %>
    <li><a href="#">eCommerce</a></li>
    <li><%= link_to 'Shipments', admin_store_shipments_path(status: :pending) %></li>
    <li class="active">Batch Process</li>
<% end %>