<% 
packaging_types = [ 
	'YOUR PACKAGING',
	'-------------------------',
	'Card',
	'Letter',
	'Flat',
	'Parcel',
	'LargeParcel',
	'IrregularParcel',
	'FlatRateEnvelope',
	'FlatRateLegalEnvelope',
	'FlatRatePaddedEnvelope',
	'FlatRateGiftCardEnvelope',
	'FlatRateWindowEnvelope',
	'FlatRateCardboardEnvelope',
	'SmallFlatRateEnvelope',
	'SmallFlatRateBox',
	'MediumFlatRateBox',
	'LargeFlatRateBox',
	'RegionalRateBoxA',
	'RegionalRateBoxB',
	'LargeFlatRateBoardGameBox',
  'Softpack',
	'-------------------------',
	'FedExEnvelope',
	'FedExBox',
	'FedExPak',
	'FedExTube',
	'FedEx10kgBox',
	'FedEx25kgBox',
  'FedExSmallBox',
  'FedExMediumBox',
  'FedExLargeBox',
  'FedExExtraLargeBox',
	'-------------------------', 
	'UPSLetter',
	'UPSExpressBox',
	'UPS25kgBox',
	'UPS10kgBox',
	'Tube',
	'Pak',
	'SmallExpressBox',
	'MediumExpressBox',
	'LargeExpressBox' ]
  
  printers = Printer.where(preferred_format: ['epl2', 'zpl', 'pdf'])
%>

<%= link_to "Modify Shipment", edit_admin_store_shipment_path(@shipment), class: "btn btn-sm btn-default pull-right" %>
<h2>
  Shipment #<%= @shipment %>
  <span class="label <%= 'label-warning' if @shipment.status == 'pending' %>  <%= 'label-success' if @shipment.status == 'shipped' %>"><%= @shipment.status %></span>
</h2>
<hr/>

 <div class="row" style="margin-left: 0;">

   <div class="col-md-7">

     <%= simple_form_for @shipment, url: '' do |f| %>
     
      <%= hidden_field_tag :ship_cheapest, false %>
		  <%= f.input :packaging_type, collection: packaging_types, label: 'Packaging' %>
      
      <div class="form-group string optional shipment_dimensions" style="<%= 'display: none' unless @shipment.packaging_type == 'YOUR PACKAGING' %>">
        <label class="string optional control-label col-sm-3" for="shipment_dimensions">Size (in.)</label>
        <div class="dimensions col-sm-9">
          <%= f.input_field :package_length %> &nbsp;x&nbsp;
          <%= f.input_field :package_width %> &nbsp;x&nbsp;
          <%= f.input_field :package_height %> &nbsp; &nbsp; &nbsp; &nbsp;
          
          <b>Weight</b>: <%= f.input_field :package_weight %> lb.
        </div>
      </div>
      
      <%= f.input :ship_date, as: :datepicker %>
      <%= f.input :require_signature, label: 'Signature?' %>
      
      <% aff = @shipment.order.affiliate  
        unless aff.nil? 
          acct = aff.get_property("Shipping Account") 
          unless acct.blank? %>
          <div class="form-group string optional shipment_dimensions" style="<%= 'display: none' unless @shipment.packaging_type == 'YOUR PACKAGING' %>">
            <label class="string optional control-label col-sm-3" for="shipment_dimensions">3P Billing:</label>
            <div class="col-sm-9">
              <%= f.input_field :third_party_billing %>
              <%= link_to aff.name, admin_system_affiliate_path(aff) %> <%= aff.get_property("Shipping Account").split(":").join(" / ") %>
            </div>
          </div>
          <% end %>
      <% end %>
      
      <div class="form-group string optional shipment_dimensions" style="<%= 'display: none' unless @shipment.packaging_type == 'YOUR PACKAGING' %>">
        <label class="string optional control-label col-sm-3" for="shipment_dimensions">Label printer</label>
        <div class="col-sm-9">
          <%= select_tag(:printer_id, options_from_collection_for_select(printers, :id, :name, @default_printer_id), prompt: "- do not print -") %>
        </div>
      </div>
      
      <div class="alert alert-info">
      <% if @ep_shipment %>
        <% if @shipment.affiliate_shipping_account %>
          Using <u><%= @shipment.order.affiliate %></u> shipping account(s)
        <% else %>
          Using <u><%= Cache.setting(@shipment.order.domain_id, :system, "Website Name") %></u> shipping account(s)
        <% end %>
        
        <%= link_to "undo", admin_store_easy_post_path(shipment_id: @shipment.id), class: "pull-right" %>
        <%= f.hidden_field :affiliate_shipping_account %>
        
      <% elsif @shipment.affiliate_shipping_available? %>
        <%= f.input_field :affiliate_shipping_account %> &nbsp; Use <u><%= @shipment.order.affiliate %></u> shipping account(s)
      <% end %>
      </div>
      
		 
      <%= button_tag :class => "btn btn-success", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait ..." } do %>
        <i class="fa fa-dollar"></i> &nbsp; Get Rates
      <% end %>
      <%= button_tag :class => "btn btn-primary btn-cheapest", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait ..." } do %>
        <i class="fa fa-truck"></i> &nbsp; Ship Cheapest
      <% end %>
      
		  <span class="label label-warning pull-right"><%= @ep_shipment[:mode] unless @ep_shipment.nil? %></span>
     <% end %>
   </div>


   <div class="col-md-5">

     <div class="panel panel-primary">
       <div class="panel-heading"><%= @shipment.ship_from_company %> &rarr;</div>
       <div class="panel-body">
           <%= @shipment.ship_from_street1 %><br/>
           <%= raw @shipment.ship_from_street2 + '<br/>' unless @shipment.ship_from_street2.blank? %>
           <%= @shipment.ship_from_city %>, <%= @shipment.ship_from_state %> <%= @shipment.ship_from_zip %> <br/>
           <%= Country.find_country_by_alpha2(@shipment.ship_from_country) %>
       </div>
     </div>

     <div class="panel panel-primary">
       <div class="panel-heading">&rarr; <%= @shipment.recipient_name %></div>
       <div class="panel-body">
           <%= raw @shipment.recipient_company + '<br/>' unless @shipment.recipient_company.blank? %>
           <%= @shipment.recipient_street1 %><br/>
           <%= raw @shipment.recipient_street2 + '<br/>' unless @shipment.recipient_street2.blank? %>
           <%= @shipment.recipient_city %>, <%= @shipment.recipient_state %> <%= @shipment.recipient_zip %> <br/>
           <%= Country.find_country_by_alpha2(@shipment.recipient_country) %>
         </div>
     </div>
   </div>

 </div>

<hr/>

<%= render partial: 'admin/shared/error_messages', locals: {object: @shipment} %>

<% if @ep_shipment and @ep_shipment[:messages].length > 0 %>
	<ul class="alert alert-info">
		<% @ep_shipment[:messages].each do |msg| %>
		<li><b><%= msg[:carrier] %>:</b> <%= msg[:message] %></li>
		<% end %>
	</ul>
<% end %>



<% unless @ep_shipment.nil? || @ep_shipment[:rates].nil?
		carriers = @ep_shipment[:rates].map { |x| x[:carrier] }.distinct 
		carriers.each do |carrier| %>

	<div class="col-md-6">
		<%= carrier_image carrier %>
			
		<table class="table table-striped table-condensed">
			<tr>
			  <th>Service</th>
			  <th class="text-center">Est. Days</th>
        <th class="text-center">Date</th>
			  <th class="text-right">Rate</th>
        <th width="12"></th>
			  <th></th>
			</tr>
			<% @ep_shipment[:rates].select { |x| x[:carrier] == carrier }.each do |rate| %>
			<tr>
			  <td><%= rate[:service] %></td>
			  <td class="text-center"><%= rate[:delivery_days] || "<span class='light'> - n/a - </span>".html_safe %></td>
        <td class="text-center">
          <% if rate[:delivery_date] %>
            <%= Date.parse(rate[:delivery_date]).strftime("%m/%d") %>
          <% else %>
            <span class='light'> - unknown - </span>
          <% end %>
        </td>
			  <td class="text-right"><%= number_to_currency(rate[:rate]) %></td>
        <td class="text-center">
          <% if rate == @cheapest_rate %>
            <i class="fa fa-star-o text-danger"></i>
          <% end %>
        </td>
			  <td class="text-right">
          <%= form_tag admin_store_easy_post_buy_path do %>
            <%= hidden_field_tag :shipment_id, @shipment.id %>
            <%= hidden_field_tag :rate_id, rate[:id] %>
            <%= hidden_field_tag :ep_shipment_id, @ep_shipment[:id] %>
            <%= hidden_field_tag :printer_id, @default_printer_id %>
            <%= hidden_field_tag :affiliate_shipping_account, @shipment.affiliate_shipping_account %>
            <%= submit_tag "purchase", class: 'btn btn-sm btn-default', "data-disable-with" => "<i class='fa fa-spinner fa-spin'></i> purchasing ..." %>
          <% end %>
			  </td>
      </tr>
			<% end %>
		</table>
	</div>
	<% end %>
	
<% end %>


<% content_for :title do %>
    EasyPost Shipment #<%= @shipment %>
<% end %>


<% content_for :head do %>
    <style>
        .dimensions .numeric { width: 45px; text-align: center;}
        .add-on { background-color: #dfeaef; color: #666; text-shadow: none; font-weight: normal; display: inline-block; width: 120px; margin-bottom: 4px; }
        th { background-color: #ddd; padding: 0; }
        .cheapest { background-color: #bbffaa; }
    </style>
    <script>
        $(document).ready(function() {

						$('#shipment_packaging_type').change(function() {
							if ($(this).val() == 'YOUR PACKAGING') {
								//$('.shipment_package_weight').show();
								$('.shipment_dimensions').show();
							} else {
								//$('.shipment_package_weight').hide();
								$('.shipment_dimensions').hide();
							}
						});
            
            $(".btn-cheapest").click(function() {
              $("#ship_cheapest").val("true");
            });
            
            $("select#printer_id").change(function() {
              $("input[name='printer_id']").val($(this).val());
            });

        });
    </script>
<% end %>


<% content_for :breadcrumbs do %>
    <li><a href="#">eCommerce</a></li>
    <li><%= link_to 'Shipments', admin_store_shipments_path(status: @shipment.status) %></li>
    <li><%= link_to @shipment, admin_store_shipment_path(@shipment)%></li>
    <li class="active">Fedex</li>
<% end %>

