<% 
packaging_types = [ 
	'YOUR PACKAGING',
	'-------------------------',
	'Card',
	'Letter',
	'Flat',
	'Parcel',
	'LargeParcel',
	'IrregularParcel',
	'FlatRateEnvelope',
	'FlatRateLegalEnvelope',
	'FlatRatePaddedEnvelope',
	'FlatRateGiftCardEnvelope',
	'FlatRateWindowEnvelope',
	'FlatRateCardboardEnvelope',
	'SmallFlatRateEnvelope',
	'SmallFlatRateBox',
	'MediumFlatRateBox',
	'LargeFlatRateBox',
	'RegionalRateBoxA',
	'RegionalRateBoxB',
	'RegionalRateBoxC',
	'LargeFlatRateBoardGameBox',
	'-------------------------',
	'FedExEnvelope',
	'FedExBox',
	'FedExPak',
	'FedExTube',
	'FedEx10kgBox',
	'FedEx25kgBox',
	'-------------------------', 
	'UPSLetter',
	'UPSExpressBox',
	'UPS25kgBox',
	'UPS10kgBox',
	'Tube',
	'Pak',
	'Pallet',
	'SmallExpressBox',
	'MediumExpressBox',
	'LargeExpressBox' ]
%>

<%= link_to "Modify Shipment", edit_admin_store_shipment_path(@shipment), class: "btn btn-sm btn-default pull-right" %>
<h2>
  Shipment #<%= @shipment %>
  <span class="label <%= 'label-warning' if @shipment.status == 'pending' %>  <%= 'label-success' if @shipment.status == 'shipped' %>"><%= @shipment.status %></span>
</h2>
<hr/>

 <div class="row" style="margin-left: 0;">

   <div class="col-md-6">

     <%= simple_form_for @shipment, url: '', html: { class: 'form-inline' } do |f| %>

		<%= f.input :packaging_type, collection: packaging_types, label: 'Packaging' %>
        <%= f.input :package_weight, label: 'Weight (lbs)' %>

        <div class="form-group string optional shipment_dimensions" style="<%= 'display: none' unless @shipment.packaging_type == 'YOUR PACKAGING' %>">
           <label class="string optional control-label" for="shipment_dimensions">Size (in.)</label>
           <div class="dimensions" style="display: inline;">
             <%= f.input_field :package_length %> &nbsp;x&nbsp;
             <%= f.input_field :package_width %> &nbsp;x&nbsp;
             <%= f.input_field :package_height %>
           </div>
        </div>
        <%= f.input :ship_date %>
		<%= f.input :insurance %>
		<%= f.input :require_signature, label: 'Signature?' %>
		 
        <%= f.submit 'Get Rates', class: 'btn btn-success' %>
     <% end %>
   </div>


   <div class="col-md-6">

     <div class="panel panel-primary">
       <div class="panel-heading">From:</div>
       <div class="panel-body">
           <b><%= @shipment.ship_from_company %></b><br/>
           <%= @shipment.ship_from_street1 %><br/>
           <%= raw @shipment.ship_from_street2 + '<br/>' unless @shipment.ship_from_street2.blank? %>
           <%= @shipment.ship_from_city %>, <%= @shipment.ship_from_state %> <%= @shipment.ship_from_zip %> <br/>
           <%= @shipment.ship_from_country %>
       </div>
     </div>

     <div class="panel panel-primary">
       <div class="panel-heading">To:</div>
       <div class="panel-body">
           <b><%= @shipment.recipient_name %></b><br/>
           <%= raw @shipment.recipient_company + '<br/>' unless @shipment.recipient_company.blank? %>
           <%= @shipment.recipient_street1 %><br/>
           <%= raw @shipment.recipient_street2 + '<br/>' unless @shipment.recipient_street2.blank? %>
           <%= @shipment.recipient_city %>, <%= @shipment.recipient_state %> <%= @shipment.recipient_zip %> <br/>
           <%= @shipment.recipient_country %>
         </div>
     </div>
   </div>

 </div>

<hr/>

<%= render partial: 'admin/shared/error_messages', locals: {object: @shipment} %>

<% if @response and @response[:messages].length > 0 %>
	<ul class="alert alert-info">
		<% @response[:messages].each do |msg| %>
		<li><b><%= msg[:carrier] %>:</b> <%= msg[:message] %></li>
		<% end %>
	</ul>
<% end %>



<% unless @response.nil? || @response[:rates].nil?
		carriers = @response[:rates].map { |x| x[:carrier] }.uniq 
		carriers.each do |carrier| %>

	<div class="col-md-6">
		<%= carrier_image carrier %>
			
		<table class="table table-striped table-condensed">
			<tr>
			  <th>Service</th>
			  <th class="calign">Est. Days</th>
			  <th class="calign">Rate</th>
			  <th></th>
			</tr>
			<% @response[:rates].select { |x| x[:carrier] == carrier }.each do |rate| %>
			<tr>
			  <td><%= rate[:service] %></td>
			  <td class="calign"><%= rate[:est_delivery_days] || "<span class='light'> - n/a - </span>".html_safe %></td>
			  <td class="calign"><%= number_to_currency(rate[:rate]) %></td>
			  <td class="ralign">
			    <%= link_to "purchase", admin_store_easy_post_label_path(shipment_id: @shipment.id, rate_id: rate[:id], ep_shipment_id: @response[:id]), class: 'btn btn-sm btn-default'  %>
			</tr>
			<% end %>
		</table>
	</div>
	<% end %>

<% end %>


<% content_for :title do %>
    EasyPost Shipment #<%= @shipment %>
<% end %>


<% content_for :head do %>
    <style>
        .dimensions .numeric { width: 45px; text-align: center;}
        .form-inline .control-label { width: 100px; paddin: 0; }
        .add-on { background-color: #dfeaef; color: #666; text-shadow: none; font-weight: normal; display: inline-block; width: 120px; margin-bottom: 4px; }
        th { background-color: #ddd; padding: 0; }

    </style>
    <link href="/css/datepicker.css" rel="stylesheet">
    <script src="/js/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function() {

            $('.input-append.date').datepicker({
                format: "yyyy-mm-dd"
            });

						$('#shipment_packaging_type').change(function() {
							if ($(this).val() == 'YOUR PACKAGING') {
								//$('.shipment_package_weight').show();
								$('.shipment_dimensions').show();
							} else {
								//$('.shipment_package_weight').hide();
								$('.shipment_dimensions').hide();
							}
						});

        });
    </script>
<% end %>


<% content_for :breadcrumbs do %>
    <li><a href="#">eCommerce</a></li>
    <li><%= link_to 'Shipments', admin_store_shipments_path %></li>
    <li><%= link_to @shipment, admin_store_shipment_path(@shipment)%></li>
    <li class="active">Fedex</li>
<% end %>

