<%= link_to new_admin_store_shipping_option_path, class: 'btn btn-sm btn-default pull-right' do %>
  <i class="fa fa-plus"></i> New shipping option
<% end %>
<h2><i class="fa fa-shipping-fast"></i> <%= current_domain %> Shipping options</h2>
<hr>

<%= will_paginate @shipping_options %>
<table class="table table-striped table-condensed">
  <tr>
    <th>Name</th>
    <th>Cost</th>
    <th>Min. order</th>
    <th>Max. order</th>
    <th>Intl. surcharge</th>
    <th>Active</th>
    <th class="actions">&nbsp;</th>
  </tr>
  <% @shipping_options.each do |option| %>
    <tr>
      <td><%= link_to option.name, edit_admin_store_shipping_option_path(option) %></td>
      <td><%= number_to_currency(option.base_cost) %></td>
      <td><%= number_to_currency(option.min_order_amount) %></td>
      <td><%= number_to_currency(option.max_order_amount) %></td>
      <td><%= number_to_currency(option.international_surcharge) %></td>
      <td>
        <% if option.active %>
          <span class="label label-success">active</span>
        <% else %>
          <span class="label label-danger">disabled</span>
        <% end %>
      </td>
      <td class="actions">
        <%= link_to "edit", edit_admin_store_shipping_option_path(option) %> &nbsp;
        <%= link_to "delete",
                    {action: "destroy", id: option.id},
                    method: :delete,
                    data: {confirm: "Are you sure?"} %>
      </td>
    </tr>
  <% end %>
</table>

<%= render 'admin/shared/table_summary', data: @shipping_options %>


<% content_for :title do %>
  Shipping Options
<% end %>


<% content_for :breadcrumbs do %>
  <li><a href="#">eCommerce</a></li>
  <li class="active">Shipping Options</li>
<% end %>