<h2>
  <%= @catalog.name %>
</h2>
<hr/>

<%= simple_form_for [:admin, :store, @catalog] do |f| %>

  <%= render 'admin/shared/error_messages', object: f.object %>

  <%= f.input :name %>
  <%= f.input :code %>
  <%= f.input :url %>

  <%= button_tag "Save changes", :class => "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait ..."} %>

<% end %>



<% content_for :title, @catalog.name %>


<% content_for :breadcrumbs do %>
  <li><a href="#">eCommerce</a></li>
  <li><%= link_to "Catalogs", admin_store_catalogs_path %></li>
  <li class="active"><%= @catalog.name %></li>
<% end %>
