<h2><%= @daily_deal.short_tag_line %></h2>


<ul class="nav nav-tabs">
  <li><%= link_to "Summary", edit_admin_store_daily_deal_path(@daily_deal) %></a></li>
  <li><%= link_to "Pictures", pictures_admin_store_daily_deal_path(@daily_deal) %></a></li>
  <li><%= link_to "Categories", categories_admin_store_daily_deal_path(@daily_deal) %></li>
  <li><%= link_to "Coupons", coupons_admin_store_daily_deal_path(@daily_deal) %></li>
  <li><%= link_to "Deal Items", items_admin_store_daily_deal_path(@daily_deal) %></li>
  <li><%= link_to "Locations", locations_admin_store_daily_deal_path(@daily_deal) %></li>
  <li class="active"><a href="#">External Coupons</a></li>
</ul>

<div class="row">
  <form action="<%= create_external_coupons_admin_store_daily_deal_path(@daily_deal) %>" method="post" class="well span3 offset1">
    <%= token_tag %>
    How many? <input type="text" name="quantity" value="10" class="col-md-3"/>
    <button class="btn">Create</button>
  </form>

  <form action="<%= import_external_coupons_admin_store_daily_deal_path(@daily_deal) %>" method="post" enctype="multipart/form-data" class="well span4">
    <%= token_tag %>
    <input type="file" name="file" class="col-md-9"/>
    <button class="btn">Upload</button>
  </form>

  <div class="col-md-4">
    <%= @daily_deal.external_coupons.length %> coupon(s) loaded<br/><br/>
    <a href="delete_all_external_coupons" class="btn btn-small">delete all</a> &nbsp;
    <a href="export_external_coupons" class="btn btn-small">export</a>
  </div>
</div>

<table class="table table-striped table-condensed">
  <tr>
    <th>Code</th>
    <th>Allocated</th>
    <th>&nbsp;</th>
  </tr>
  <% @daily_deal.external_coupons.each do |ec| %>
    <tr>
      <td class="code"><%= ec.code %></td>
      <td><%= raw tick ec.allocated %></td>
      <td><%= link_to "delete", delete_external_coupon_admin_store_daily_deal_path(@daily_deal, external_coupon_id: ec.id) %></td>
    </tr>
  <% end %>
</table>


<% content_for :title do %>
  Daily Deals: <%= @daily_deal.short_tag_line %>
<% end %>




<% content_for :breadcrumbs do %>
  <li><a href="#">eCommerce</a></li>
  <li><%= link_to "Daily Deals", admin_store_daily_deals_path %></li>
  <li><%= link_to @daily_deal.short_tag_line, admin_store_daily_deal_path(@daily_deal) %></li>
  <li class="active">edit</li>
<% end %>
