<%
  web_url = Cache.setting(:system, "Website URL")
%>

<div class="dropdown pull-right">
  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-hand-right"></i> Select Action
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li>
      <%= link_to deals_email_path(uuid: @daily_deal.uuid), target: "_new" do %>
        <i class="fa fa-envelope-o"></i> Email Preview
      <% end %>
    </li>
    <li>
      <%= link_to new_admin_marketing_email_blast_path(daily_deal_id: @daily_deal.id) do %>
        <i class="fa fa-send-o"></i> Email Blast
      <% end %>
    </li>
    <li>
      <%= link_to edit_admin_store_daily_deal_path(@daily_deal) do %>
        <i class="fa fa-edit"></i> Edit
      <% end %>
    </li>
    <li>
      <%= link_to orders_admin_store_daily_deal_path(@daily_deal) do %>
        <i class="fa fa-shopping-cart"></i> Orders
      <% end %>
    </li>
    <li>
      <%= link_to new_admin_store_daily_deal_path(clone_id: @daily_deal) do %>
        <i class="fa fa-plus"></i> Clone
      <% end %>
    </li>
  </ul>
</div>


<h3><i class="fa fa-star-o"></i>&nbsp; <%= @daily_deal.short_tag_line %></h3>
<h4><%= @daily_deal.title %></h4>
<hr/>


<div class="col-md-8" style="padding-left: 0;">

  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">Value:</div>
      <div class="panel-body deal-info">
        <%= number_to_currency(@daily_deal.original_price).sub(".00", "") %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">Offer:</div>
      <div class="panel-body deal-info">
        <%= number_to_currency(@daily_deal.deal_price).sub(".00", "") %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">Discount:</div>
      <div class="panel-body deal-info">
        <%= @daily_deal.discount_percent %>%
      </div>
    </div>
  </div>


  <h4>Summary</h4>
  <table class="table table-condensed table-bordered summary">
    <tr>
      <td>PermaLink</td>
      <td><i class="fa fa-globe"></i> <a tager="_new" href="<%= web_url %>/deals/<%= @daily_deal.slug %>"><%= web_url %>
        /deals/<%= @daily_deal.slug %></a></td>
    </tr>
    <%= obj_property @daily_deal, :start_time %>
    <%= obj_property @daily_deal, :end_time %>
    <%= obj_property(@daily_deal, :deal_type) { |x| x.titlecase } %>
    <%= obj_property @daily_deal, :slug %>
    <%= obj_property @daily_deal, :theme %>
    <%= obj_property @daily_deal, :shipping_cost %>
    <%= obj_property @daily_deal, :fb_discount %>
    <%= obj_property @daily_deal, :max_sales %>
    <%= obj_property @daily_deal, :max_per_user %>
    <%= obj_property @daily_deal, :number_sold %>
    <%= obj_property(@daily_deal, :affiliate) { |x| link_to x.name, admin_system_affiliate_path(x) } %>
  </table>


  <% if @daily_deal.items.length > 0 %>
    <h4>Items &nbsp;<%= link_to 'edit', items_admin_store_daily_deal_path(@daily_deal), class: 'small' %></h4>
    <table class="table table-condensed table-bordered">
      <tr>
        <th>SKU</th>
        <th>Description</th>
        <th>Unit Cost</th>
        <th>Quanity</th>
      </tr>
      <% @daily_deal.items.each do |item| %>
        <tr>
          <td><%= item.item_number %></td>
          <td>
            <span class="item-desc"><%= item.product.name_with_option unless item.product.nil? %></span>
            <span class="light affiliate-name"> &nbsp; &nbsp; <%= item.affiliate unless item.affiliate.nil? %></span>
          </td>
          <td><%= number_to_currency item.unit_cost %></td>
          <td><%= item.quantity %></td>
        </tr>
      <% end %>
    </table>

  <% end %>


  <% if @daily_deal.coupons.length > 0 %>
    <h4>Coupons &nbsp;<%= link_to 'edit', coupons_admin_store_daily_deal_path(@daily_deal), class: 'small' %></h4>
    <table class="table table-condensed">
      <tr>
        <th>Code</th>
        <th>Discount</th>
        <th>Max uses</th>
        <th>Per user</th>
        <th>Times used</th>
        <th>Status</th>
      </tr>
      <% @daily_deal.coupons.each do |coupon| %>
        <tr>
          <td><%= link_to coupon.code, edit_admin_store_coupon_path(coupon, redirect: request.fullpath) %></td>
          <td>
            <% if !coupon.discount_percent.nil? %>
              <%= coupon.discount_percent.to_i %>%
            <% else %>
              <%= number_to_currency(coupon.discount_amount) %>
            <% end %>
          </td>
          <td><%= coupon.max_uses %></td>
          <td><%= coupon.max_per_user %></td>
          <td><%= coupon.times_used %></td>
          <td>
            <% if Time.now > coupon.start_time && Time.now < coupon.expire_time %>
              <span class="label label-success">active</span>
            <% elsif Time.now > coupon.expire_time %>
              <span class="label label-important">expired</span>
            <% else %>
              <span class="label label-warning">pending</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

  <% end %>


  <h4>Description</h4>
  <%= raw @daily_deal.description %>
  <hr/>


  <% unless @daily_deal.conditions.blank? %>
    <h4>Conditions</h4>
    <%= raw @daily_deal.conditions %>
    <hr/>
  <% end %>

  <% unless @daily_deal.redemption_instructions.blank? %>
    <h4>Redemption instructions</h4>
    <%= raw @daily_deal.redemption_instructions %>
    <hr/>
  <% end %>

  <% unless @daily_deal.order_specifications.blank? %>
    <h4>Order specifications</h4>
    <%= raw @daily_deal.order_specifications %>
    <hr/>
  <% end %>

</div>


<div class="col-md-3">
  <h4>Flags</h4>
  <% if @daily_deal.number_sold > @daily_deal.max_sales - 1 %>
    <span class="label label-danger">sold out</span> &nbsp;
  <% end %>

  <% if @daily_deal.start_time < DateTime.now && @daily_deal.end_time > DateTime.now %>
    <span class="label label-success">active</span> &nbsp;
  <% elsif @daily_deal.end_time < DateTime.now %>
    <span class="label label-warning">expired</span> &nbsp;
  <% else %>
    <span class="label label-info">waiting</span> &nbsp;
  <% end %>

  <% if @daily_deal.featured %>
    <span class="label label-warning">featured</span> &nbsp;
  <% end %>

  <% if @daily_deal.active %>
    <span class="label label-success">approved</span> &nbsp;
  <% end %>

  <% if @daily_deal.allow_photo_upload %>
    <span class="label label-info">image upload</span> &nbsp;
  <% end %>

  <% if @daily_deal.countdown_mode %>
    <span class="label label-info">countdown</span> &nbsp;
  <% end %>

  <% if @daily_deal.affiliate_remittance && @daily_deal.affiliate_remittance > 0.0 && @daily_deal.affiliate_paid == false %>
    <span class="label label-warning">affiliate unpaid</span> &nbsp;
  <% end %>
  <hr/>

  <h4>Pictures &nbsp;<%= link_to 'edit', pictures_admin_store_daily_deal_path(@daily_deal), class: 'small pull-right' %></h4>
  <% @daily_deal.pictures.each do |pic| %>
    <a href="<%= cdn_image_url pic, 700, 600, 0 %>" data-lightbox="image-1">
      <img src="<%= cdn_image_url pic, 60, 60, 2 %>" class="img-thumbnail" style="margin: 4px" title="<%= pic.caption %>"/>
    </a>
  <% end %>
  <hr/>

  <h4>Categories &nbsp;<%= link_to 'edit', categories_admin_store_daily_deal_path(@daily_deal), class: 'small pull-right' %></h4>
  <ul>
    <% @daily_deal.categories.each do |cat| %>
      <li><%= cat.name %></li>
    <% end %>
  </ul>
  <hr/>

  <h4>Locations &nbsp;<%= link_to 'edit', locations_admin_store_daily_deal_path(@daily_deal), class: 'small pull-right' %></h4>
</div>


<% content_for :title do %>
  Daily Deals: <%= @daily_deal.short_tag_line %>
<% end %>


<% content_for :head do %>
  <style>
      a.small {
          color: #ccc;
      }

      .deal-info {
          text-align: center;
          font-size: 1.8em;
      }
  </style>
<% end %>



<% content_for :breadcrumbs do %>
  <li><a href="#">eCommerce</a></li>
  <li><%= link_to "Daily Deals", admin_store_daily_deals_path %></li>
  <li class="active"><%= @daily_deal.short_tag_line %></li>
<% end %>
