<h2>Autoship Item
</h2>
<hr/>

<%= simple_form_for [:admin, :store, @auto_ship_item] do |f| %>

  <%= render 'admin/shared/error_messages', object: f.object %>

  <%= f.input :user_id, collection: User.where.not(status: 'Z').order(:name).map { |x| ["#{x.name}  (#{x.email})", x.id]} %>
  <%= f.input :item_number %>
  <%= f.input :quantity %>
  <%= f.input :days %>
  <%= f.input :description %>
  <%= f.input :last_shipped, as: :datepicker %>
  <%= f.input :next_ship_date, as: :datepicker %>
  <%= f.input :status, collection: [:active, :billing_failed, :product_discontinued, :cancelled ]%>
  
  <%= button_tag "Save changes", :class => "btn btn-primary", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait ..." } %>

<% end %>




<% content_for :title do %>
	Autoship Item
<% end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">eCommerce</a></li>
	<li><%= link_to "Autoship Items", admin_store_auto_ship_items_path %></li>
	<li class="active">edit</li>
<% end %>


