<h2><%= @inventory_location %></h2>
<hr/>


<%= simple_form_for [:admin, :inventory, @inventory_location] do |f| %>

  <%= render 'admin/shared/error_messages', object: f.object %>

  <div class="row">

    <div class="col-md-7">
      <%= f.input :name %>
      <%= f.input :depth %>
      <%= f.input :width %>
      <%= f.input :height %>
      <%= f.input :notes, as: :text, input_html: {rows: 4} %>
    </div>

    <div class="col-md-5">
      <div class="panel panel-default options-panel">
        <div class="panel-heading">Flags</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6"><%= f.input_field :usable %> &nbsp; Usable</div>
            <div class="col-md-6"><%= f.input_field :large_box %> &nbsp; Large Box</div>
            <div class="col-md-6"><%= f.input_field :heavy_box %> &nbsp; Heavy Box</div>
            <div class="col-md-6"><%= f.input_field :holding_area %> &nbsp; Holding Area</div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <%= button_tag "Save changes", :class => "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait ..."} %>

<% end %>


<% content_for :breadcrumbs do %>
  <li><a href="#">Inventory</a></li>
  <li><%= link_to "Locations", admin_inventory_inventory_locations_path %></li>
  <li class="active"><%= @inventory_location %></li>
<% end %>

