<% ap = affiliate_product %>
<tr>
  <td><input type="checkbox" name="affiliate_product_id[]" value="<%= ap.id %>"></td>
  <td>
    <% if ap.hidden %>
      <i class="fa fa-eye-slash"></i>
    <% end %>
  </td>
  <td><%= link_to ap.product.item_number, admin_store_product_path(ap.product)%></td>
  <td><%= ap.variant1.presence || '-' %></td>
  <td><%= ap.variant2.presence || '-' %></td>
  <td><%= ap.title.presence || ap.product.name_with_option %></td>
  <td><%= ap.item_number.presence || "<span class='light'>- not set -</span>".html_safe %></td>
  <td class="text-right">
    <%= number_to_currency(ap.current_price) %>
    <% if ap.sale? %>
      <span class="label label-danger">sale</span>
    <% end %>
  </td>
  <td class="text-center"><%= number_with_delimiter ap.minimum_order_quantity %></td>
  <td class="text-center"><%= pluralize(ap.ship_lead_time, "day") %></td>
  <td class="text-right">
    <%= link_to "edit", edit_admin_store_affiliate_product_path(ap) %> &nbsp;
		<%= link_to "delete", admin_store_affiliate_product_path(ap), method: :delete %>
  </td>
</tr>