<h2><%= @affiliate_product.affiliate.name %></h2>
<hr/>

<%= simple_form_for [:admin, :store, @affiliate_product] do |f| %>

  <%= f.hidden_field :affiliate_id %>
  <%= f.input :product_id, collection: Product.select(:id, :sku, :title).order(:sku).map { |x| ["[ #{x.sku} ] #{x.title}", x.id]} %>
  <%= f.input :title, as: :text, input_html: { rows: 2 } %>
  <%= f.input :sku %>
  <%= f.input :price %>
  <%= f.input :minimum_order_quantity %>
  <%= f.input :ship_lead_time %>
  <%= f.input :category1 %>
  <%= f.input :category2 %>
  <%= f.input :category3 %>
  <%= f.input :description, as: :text, input_html: { rows: 15 } %>
  <%= f.input :data %>
  <%= f.input :images %>
  
  <%= button_tag "Save changes", :class => "btn btn-primary", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait ..." } %>

<% end %>


<% content_for :title do %>
	<%= @affiliate_product.affiliate.name %>
<% end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">System</a></li>
	<li><%= link_to "Affiliates", admin_system_affiliates_path %></li>
	<li><%= link_to @affiliate_product.affiliate.name, admin_system_affiliate_path(@affiliate_product.affiliate_id) %></li>
	<li class="active">edit</li>
<% end %>


