<h2><%= @affiliate_product.affiliate.name %></h2>
<hr/>

<%= simple_form_for [:admin, :store, @affiliate_product] do |f| %>

  <%= render 'admin/shared/error_messages', object: f.object %>

  <%= f.input :title, as: :text, input_html: { rows: 2, placeholder: @affiliate_product.product.title } %>
  <%= f.input :sku, input_html: { placeholder: @affiliate_product.product.sku } %>
  <%= f.input :price, input_html: { placeholder: @affiliate_product.product.price } %>
  <%= f.input :minimum_order_quantity %>
  <%= f.input :description, as: :text, input_html: { rows: 15, placeholder: @affiliate_product.product.long_description } %>
  <%= f.input :data %>
  <%= f.input :images %>
  
  <%= f.button :submit %>

<% end %>




<% content_for :title do %>
	<%= @affiliate_product.affiliate.name %>
<% end %>



<% content_for :breadcrumbs do %>
	<li><a href="#">System</a></li>
	<li><%= link_to "Affiliates", admin_system_affiliates_path %></li>
	<li><%= link_to @affiliate_product.affiliate.name, admin_system_affiliate_path(@affiliate_product.affiliate_id) %></li>
	<li class="active">edit</li>
<% end %>


