<h2><%= @affiliate_product.affiliate.name %></h2>
<hr/>

<%= simple_form_for([:admin, :store, @affiliate_product], html: { class: 'form-inline' }) do |f| %>

  <%= render 'admin/shared/error_messages', object: f.object %>

  <%= f.input :title, placeholder: @affiliate_product.product.title %>
  <%= f.input :price, input_html: { placeholder: @affiliate_product.product.price } %>
  <%= f.input :description, as: :text, input_html: { class: 'span8', rows: 15, placeholder: @affiliate_product.product.long_description } %>
  <%= f.input :data %>
  
  <div class="form-actions">
  	<%= f.button :submit %>
  </div>
<% end %>




<%= content_for :title do %>
	<%= @affiliate_product.affiliate.name %>
<% end %>


<% content_for :menu do
    render "admin/shared/system_menu"
end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">System</a></li>
	<li><%= link_to "Affiliates", admin_system_affiliates_path %></li>
	<li><%= link_to @affiliate_product.affiliate.name, admin_system_affiliate_path(@affiliate_product.affiliate_id) %></li>
	<li class="active">edit</li>
<% end %>


