<h2><%= @affiliate.name %></h2>
<hr/>

<h4>Active Products</h4>
<table class="table table-condensed table-striped">
  <tr>
    <th>SKU</th>
    <th>Name</th>
    <th>Price</th>
    <th>&nbsp;</th>
  </tr>
  <% @affiliate_products.each do |ap| 
  p = @products.find { |x| x.id == ap.product_id } %>
  <tr>
    <td><%= p.sku %></td>
    <td><%= ap.title.blank? ? p.name_with_option : ap.title[0..80] %></td>
    <td><%= number_to_currency(ap.price || p.price) %></td>
    <td class="ralign">
      <%= link_to "edit", edit_admin_store_affiliate_product_path(ap) %> &nbsp;
      <%= link_to "delete", { action: "destroy", id: ap.id }, method: :delete  %>
    </td>
  </tr>
  <% end %>
</table>

<h4>Available Products</h4>
<table class="table table-condensed table-striped">
  <tr>
    <th>SKU</th>
    <th>Name</th>
    <th>Price</th>
    <th>&nbsp;</th>
  </tr>
  <% @products.each do |p| 
    next if @affiliate_products.any? { |ap| ap.product_id == p.id } %>
  <tr>
    <td><%= p.sku %></td>
    <td><%= p.name_with_option %></td>
    <td><%= number_to_currency(p.price) %></td>
    <td>
      <% ap = AffiliateProduct.new(affiliate_id: @affiliate.id, product_id: p.id) %>
      <%= form_for [:admin, :store, ap] do |f| %>
        <%= f.hidden_field :affiliate_id %>
        <%= f.hidden_field :product_id %>
        <%= f.submit :add, class: 'btn btn-xs btn-default'%>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<% content_for :title do %>
	<%= @affiliate.name %>
<% end %>



<% content_for :breadcrumbs do %>
	<li><a href="#">System</a></li>
	<li><%= link_to "Affiliates", admin_system_affiliates_path %></li>
	<li><%= link_to @affiliate.name, admin_system_affiliate_path(@affiliate) %></li>
	<li class="active">Products</li>
<% end %>