<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= yield :title %></title>
  </head>
  <body bgcolor="#f6f6f6" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none;">

    <table style="max-width: 600px; margin: 0 auto; padding-bottom: 20px;">
      <tr>
    		<td style="background-color: white; padding: 20px; border: 1px solid #f0f0f0;">
          
          <h1 style="font-size: 36px; line-height: 1.2; font-weight: 200; margin: 0; text-align: center;">Order #<%= @order.id %></h1>
          <p style="text-align: center; color: #999; margin: 4px 0 20px 0;">Received @ <%= @order.submitted.strftime("%d %b %Y %l:%M %p") %> EST</p>

          <p style="margin-bottom: 30px;">Thank you for placing your order at <a href="<%= Cache.setting(@order.domain_id, :system, "Website URL") %>"><%= Cache.setting(@order.domain_id, :system, "Website Name") %></a>. 
            The details of your order are as follows:</p>

          <table style="width: 100%; padding-bottom: 20px; border-collapse: collapse;">
            <tr style="font-weight: bold;">
              <td style="border-bottom: solid 1px #999;">Item</td>
              <td style="border-bottom: solid 1px #999;">Description</td>
              <td style="border-bottom: solid 1px #999; text-align: right;">Qty</td>
            </tr>

            <% @order.items.each do |item| %>
            <tr>
              <td style="border-bottom: solid 1px #999; padding-right: 15px; padding: 4px;"><%= item.item_number %></td>
              <td style="border-bottom: solid 1px #999; padding-right: 15px; padding: 4px;"><%= item.item_description %></td>
              <td style="border-bottom: solid 1px #999; padding-right: 15px; padding: 4px; text-align: right;"><%= item.quantity %></td>
            </tr>
            <% end %>
    
          </table>

          <p style="text-align: center; margin-top: 40px;"><b>Total:</b> &nbsp; <%= number_to_currency(@order.total) %></p>
          
    		</td>
    	</tr>
    </table>

    <div style="font-size: 12px; color: #666; max-width: 600px; margin: 0 auto; text-align: center;">
        Delivered by <a style="color: #999;" href="<%= Cache.setting(@order.domain_id, :system, "Website URL") %>"><%= Cache.setting(@order.domain_id, :system, "Website Name") %></a>.			
    </div>
			
  </body>
</html>



