<html>
<body style="font-family: Arial;">

<table width="600" style="font-size: 12px;">
  <tr>
    <td colspan="2" style="padding: 10px 0 10px 0;">
      <h1>
        <img style="vertical-align: middle;" src="http://www.healthybreeds.com/logo.png" width="300" alt="logo"/>
        Your Order Has Shipped!
      </h1>
    </td>
  </tr>
  <tr>
    <td><b>Tracking:</b> &nbsp; &nbsp; <%= @shipment.tracking_number %> &nbsp; &nbsp; <%= @shipment.ship_method %></td>
  </tr>

  <tr>
    <td colspan="2" style="padding: 10px 0 10px 0;">
        <table style="font-size: 12px; width: 100%;">
            <tr style="font-size: 11px;">
                <td width="400">Product Name</td>
                <td style="text-align: center;">Qty Ordered</td>
                <td style="text-align: center;">Qty Shipped</td>
            </tr>
            <tr>
                <td colspan="3" style="border-top: solid 1px #e1e1e1; font-size: 2px;">&nbsp;</td>
            </tr>

            <% @shipment.items.each do |item| %>
            <tr>
                <td style="padding-right: 15px;">
                  <% unless item.order_item.daily_deal.nil? %>
                    <%= item.order_item.daily_deal.title %>
                  <% else %>
                    <b><%= item.order_item.product.name_with_option %></b>
                    <% if item.order_item.affiliate_id %>
                        <br/><i style="color: #666;">For <%= item.order_item.affiliate.name %></i>
                    <% end %>
                  <% end %>
                </td>
                <td style="padding-right: 15px; text-align: center; vertical-align: top;"><%= item.order_item.quantity %></td>
                <td style="padding-right: 15px; text-align: right; vertical-align: top;"><%= item.quantity %></td>
            </tr>
            <% end %>
            <tr>
                <td colspan="3" style="font-size: 2px;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" style="border-top: solid 1px #e1e1e1; font-size: 2px;">&nbsp;</td>
            </tr>

            <tr class="total">
              <td></td>
              <td><b>Total items:</b></td>
              <td style="padding-right: 15px; text-align: right;"><b><%= @shipment.items.sum(:quantity) %></b></td>
            </tr>
        </table>
    </td>
  </tr>

  <tr>
      <td colspan="2" style="background-color: #eeeeee; padding: 10px;">
          You can check the <a href="<%= @website_url %>/account/orders">Status of this Order</a>
          or use the 'My Account" link on the top of our website at any time.
      </td>
  </tr>
  <tr>
      <td colspan="2" style="padding: 10px 0 10px 0;">
          If you need to contact us about your order, please email to <%= Cache.setting("Ticketing", "From Email Address") %>
          or call <%= CmsCache.content_block("phone-number") %>. Reference order #<%= @shipment.order.id %>.
      </td>
  </tr>
  <tr>
      <td colspan="2" style="padding: 10px 0 10px 0;">
          Order submitted on <%= @shipment.order.submitted %>.
      </td>
  </tr>
</table>

</body>
</html>
