<h1 style="font-size: 36px; line-height: 1.2; font-weight: 200; margin: 0px 0 10px;">Order #<%= @order.id %></h1>
<p style="text-align: center;">Received @ <%= @order.submitted %> EST</p>



<table style="width: 100%; padding-bottom: 20px;">
  <tr style="font-weight: bold; border-bottom: solid 1px #333;">
    <td>Item</td>
    <td style="text-align: right;">Qty</td>
  </tr>

  <% @order.items.each do |item| %>
  <tr style="border-bottom: solid 1px #333;">
    <td style="padding-right: 15px;">
      <%= item.item_description %>
      <% if item.affiliate_id %>
          <br/><i style="color: #666;">For <%= item.affiliate.name %></i>
      <% end %>
    </td>
    <td style="padding-right: 15px; text-align: right;"><%= item.quantity %></td>
  </tr>
  <% end %>
    
</table>

<p style="text-align: center;">Total: &nbsp; <%= number_to_currency(@order.total) %></p>

