<h2><i class="fa fa-tag"></i> &nbsp;<%= @product.name_with_option %></h2>
<hr>

<% if @product.template_product_id %>
<div class="alert alert-info">
  <b>Note: </b> This product's content is maintained by a template.  Changes made here may be overwritten.
  <b><%= link_to "Click here to edit template", admin_store_product_path(@product.template_product) %></b>.
</div>
<% end %>


<%= link_to 'new coupon', new_admin_store_coupon_path(product_id: @product.id, redirect: request.fullpath), class: 'pull-right btn btn-small'%>

<ul class="nav nav-tabs">
  <li><%= link_to "Summary", edit_admin_store_product_path(@product) %></li>
  <li><%= link_to "Pictures", pictures_admin_store_product_path(@product) %></a></li>
  <li><%= link_to "Categories", categories_admin_store_product_path(@product) %></li>
  <li class="active"><a href="#">Coupons</a></li>
  <li><%= link_to "Extra Properties", extra_properties_admin_store_product_path(@product) %></li>
  <li><%= link_to "Label Elements", label_elements_admin_store_product_path(@product) %></li>
  <li><%= link_to "Shipping Rates", shipping_rates_admin_store_product_path(@product) %></li>
  <li><%= link_to "Catalogs", catalogs_admin_store_product_path(@product) %></li>
</ul>


<table class="table table-striped table-condensed">
	<tr>
		<th>Code</th>
		<th>Discount</th>
		<th>Max uses</th>
		<th>Per user</th>
		<th>Times used</th>
		<th>Status</th>
		<th>&nbsp;</th>
	</tr>
	<% @product.coupons.each do |coupon| %>
	<tr>
		<td><%= link_to coupon.code, edit_admin_store_coupon_path(coupon, redirect: request.fullpath) %></td>
		<td>
			<% if !coupon.discount_percent.nil? %>
			<%= coupon.discount_percent.to_i %>%
			<% else %>
			<%= number_to_currency(coupon.discount_amount) %>
			<% end %>
		</td>
		<td><%= coupon.max_uses %></td>
		<td><%= coupon.max_per_user %></td>
		<td><%= coupon.times_used %></td>
		<td>
			<% if Time.now > coupon.start_time && Time.now < coupon.expire_time %>
			<span class="label label-success">active</span>
			<% elsif Time.now > coupon.expire_time %>
			<span class="label label-important">expired</span>
			<% else %>
			<span class="label label-warning">pending</span>
			<% end %>
		</td>
		<td>
			<%= link_to "edit", edit_admin_store_coupon_path(coupon, redirect: request.fullpath) %> &nbsp;
			<%= link_to "delete", 
						  { controller: "coupons", action: "destroy", id: coupon.id }, 
						  method: :delete, 
						  data: { confirm: "Are you sure?" } %>
		</td>
	</tr>
	<% end %>
</table>


<% content_for :title, @product.title %>





<% content_for :breadcrumbs do %>
	<li><a href="#">eCommerce</a></li>
	<li><%= link_to "Products", admin_store_products_path(brand_id: @product.brand_id, status: :active) %></li>
	<li><%= link_to @product.name_with_option, admin_store_product_path(@product)%> </li>
	<li class="active">edit</li>
<% end %>
