<style>
.dimensions input { width: 60px; }
</style>

<%
   dropship_category = Category.find_by(slug: 'dropshippers')
   dropshippers = Affiliate.where(id: AffiliateCategory.select(:affiliate_id).where(category_id: dropship_category.id)) unless dropship_category.nil?

   supplier_category = Category.find_by(slug: 'suppliers')
   suppliers = Affiliate.where(id: AffiliateCategory.select(:affiliate_id).where(category_id: supplier_category.id)) unless supplier_category.nil?
%>

<h2><%= @product.name_with_option %></h2>



<%= simple_form_for [:admin, :store, @product] do |f| %>

  <% unless @product.id.nil? %>
  <ul class="nav nav-tabs" style="margin-bottom: 20px;">
    <li class="active"><a href="#">Summary</a></li>
    <li><%= link_to "Pictures", pictures_admin_store_product_path(@product) %></a></li>
    <li><%= link_to "Categories", categories_admin_store_product_path(@product) %></li>
    <li><%= link_to "Attributes", attributes_admin_store_product_path(@product) %></li>
    <li><%= link_to "Coupons", coupons_admin_store_product_path(@product) %></li>
  </ul>
  <% end %>
	
	<%= render 'admin/shared/error_messages', object: f.object %>

  <div class="row">
		<div class="col-md-7">
      <%= f.input :name %>
		  <%= f.input :title %>
		  <%= f.input :slug %>
		  <%= f.association :brand %>
		  <%= f.input :product_type, as: :select, collection: ['warehoused', 'dropshipped', 'electronic'] %>
		  <%= f.input :sku, label: 'SKU' %>
		  <%= f.input :price %>
		  <%= f.input :special_price %>
		  <%= f.input :distributor_price %>
      <%= f.input :retailer_price %>
      <%= f.input :retail_map, label: 'Retail MAP' %>
      <%= f.input :msrp, label: 'MSRP' %>
      <%= f.input :group %>
		  <%= f.input :option_title, input_html: { class: 'span8' } %>
		  <%= f.input :option_sort %>
      <%= f.input :keywords %>
      <%= f.input :warranty %>
      <%= f.input :minimum_order_quantity, label: "Min order qty."  %>
      <%= f.association :label_sheet %>
		</div>
		
		<div class="col-md-5">
      <div class="panel panel-default options-panel">
        <div class="panel-heading">Options</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6"><%= f.input_field :active %> &nbsp; Active</div>
            <div class="col-md-6"><%= f.input_field :free_shipping %> &nbsp; Free Shipping</div>
            <div class="col-md-6"><%= f.input_field :tax_exempt %> &nbsp; Tax Exempt</div>
            <div class="col-md-6"><%= f.input_field :auto_ship %> &nbsp; Auto Ship Enabled</div>
            <div class="col-md-6"><%= f.input_field :hidden %> &nbsp; Hidden</div>
            <div class="col-md-6"><%= f.input_field :featured %> &nbsp; Featured</div>
            <div class="col-md-6"><%= f.input_field :affiliate_only %> &nbsp; Affiliate Only</div>
            <div class="col-md-6"><%= f.input_field :require_image_upload %> &nbsp; Require Image Upload</div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Inventory</div>
        <div class="panel-body">
          <%= f.input :sku2, label: 'SKU2' %>
          <%= f.association :supplier, collection: suppliers %>
          <%= f.association :fulfiller, collection: dropshippers %>
          <%= f.input :low_threshold %>
          <%= f.input :committed %>
          <%= f.input :country_of_origin, label: "Origin" %>
          <%= f.input :shipping_lead_time %>
          <%= f.input :item_availability, as: :datepicker, label: "Date avail." %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Dimensions</div>
        <div class="panel-body">

          <div class="form-group string optional dimensions">
            <label class="string optional col-sm-3 control-label" for="item_dimensions">Item Size (in.)</label>
            <div class="dimensions col-sm-9">
              <%= f.input_field :item_length %> x 
              <%= f.input_field :item_width  %> x 
              <%= f.input_field :item_height  %>
            </div>
          </div>
          <%= f.input :item_weight, label: 'Weight' %>

          <hr/>
          <div class="form-group string optional dimensions">
            <label class="string optional col-sm-3 control-label" for="case_dimensions">Case Size (in.)</label>
            <div class="dimensions col-sm-9">
              <%= f.input_field :case_length %> x 
              <%= f.input_field :case_width  %> x 
              <%= f.input_field :case_height  %>
            </div>
          </div>
          <%= f.input :case_weight, label: 'Weight' %>
          <%= f.input :case_quantity %>
        </div>
      </div>
		</div>
  </div>

	<div class="row">
    <h4>Short Description</h4>
  	<%= f.input_field :short_description, class: "form-control text", rows: 4  %>
    <br>
    <h4>Long Description</h4>
  	<%= f.input_field :long_description, class: "form-control text", rows: 20  %>
	
  	<%= f.button :submit %>
  </div>

<% end %>



<% content_for :title do %>
    <%= @product.title %>
<% end %>



<% content_for :breadcrumbs do %>
	<li><a href="#">eCommerce</a></li>
	<li><%= link_to "Products", admin_store_products_path %></li>
    <% if @product.id.nil? %>
        <li class="active"><%= @product.name %></li>
    <% else %>
        <li><%= link_to @product.name_with_option, admin_store_product_path(@product)%> </li>
        <li class="active">edit</li>
    <% end %>

<% end %>
