<h2><%= @product.name_with_option %></h2>

<ul class="nav nav-tabs" style="margin-bottom: 20px;">
  <li><%= link_to "Summary", edit_admin_store_product_path(@product) %></li>
  <li><%= link_to "Pictures", pictures_admin_store_product_path(@product) %></a></li>
  <li><%= link_to "Categories", categories_admin_store_product_path(@product) %></li>
  <li><%= link_to "Coupons", coupons_admin_store_product_path(@product) %></li>
  <li class="active"><a href="#">Extra Properties</a></li>
</ul>


<%= render 'admin/shared/extra_properties_list', object: @product, redirect: admin_store_product_path(@product) %>




<% content_for :title do %>
    <%= @product.title %>
<% end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">eCommerce</a></li>
	<li><%= link_to "Products", admin_store_products_path %></li>
	<li><%= link_to @product.name_with_option, admin_store_product_path(@product)%> </li>
	<li class="active">edit</li>
<% end %>