<h2><%= @product.name_with_option %></h2>

<% if @product.template_product_id %>
<div class="alert alert-info">
  <b>Note: </b> This product's content is maintained by a template.  Changes made here may be overwritten.
  <b><%= link_to "Click here to edit template", admin_store_product_path(@product.template_product) %></b>.
</div>
<% end %>

<%= link_to 'new element', new_admin_store_label_element_path(product_id: @product.id, redirect: request.fullpath), class: 'pull-right btn btn-small'%>

<ul class="nav nav-tabs">
  <li><%= link_to "Summary", edit_admin_store_product_path(@product) %></li>
  <li><%= link_to "Pictures", pictures_admin_store_product_path(@product) %></a></li>
  <li><%= link_to "Categories", categories_admin_store_product_path(@product) %></li>
  <li><%= link_to "Coupons", coupons_admin_store_product_path(@product) %></li>
  <li><%= link_to "Extra Properties", extra_properties_admin_store_product_path(@product) %></li>
  <li class="active"><a href="#">Label Elements</a></li>
  <li><%= link_to "Shipping Rates", shipping_rates_admin_store_product_path(@product) %></li>
</ul>


<table class="table table-striped table-condensed">
	<tr>
		<th>Name</th>
    <th>Medium</th>
		<th>Type</th>
		<th>Location</th>
		<th>Size</th>
    <th class="text-center">Aspect (w/h)</th>
		<th class="text-center">Font</th>
		<th class="text-center">Max. Chars</th>
		<th>&nbsp;</th>
	</tr>
	<% @product.label_elements.each do |le| %>
	<tr>
		<td><%= le.name %></td>
    <td><%= le.web_or_print %></td>
		<td><%= le.text_or_image %></td>
		<td>x:<%= le.left %> &nbsp; y:<%= le.top %></td>
		<td><%= le.width %> x <%= le.height %></td>
    <td class="text-center"><%= (le.width.to_d / le.height.to_d).round(2) %></td>
		<td class="text-center"><%= le.font_family %> (<%= le.font_size%> pts.)</td>
		<td class="text-center"><%= le.max_chars %></td>
		<td class="text-right">
			<%= link_to "edit", edit_admin_store_label_element_path(le, redirect: request.fullpath) %> &nbsp;
			<%= link_to "delete", 
						  { controller: "label_elements", action: "destroy", id: le.id }, 
						  method: :delete, 
						  data: { confirm: "Are you sure?" } %>
		</td>
	</tr>
	<% end %>
</table>


<% content_for :title, @product.title %>


<% content_for :breadcrumbs do %>
	<li><a href="#">eCommerce</a></li>
	<li><%= link_to "Products", admin_store_products_path(brand_id: @product.brand_id) %></li>
	<li><%= link_to @product.name_with_option, admin_store_product_path(@product)%> </li>
	<li class="active">edit</li>
<% end %>
