<h2><%= @product.name_with_option %></h2>

<% if @product.template_product_id %>
<div class="alert alert-info">
  <b>Note: </b> This product's content is maintained by a template.  Changes made here may be overwritten.
  <b><%= link_to "Click here to edit template", admin_store_product_path(@product.template_product) %></b>.
</div>
<% end %>

<ul class="nav nav-tabs">
  <li><%= link_to "Summary", edit_admin_store_product_path(@product) %></li>
  <li class="active"><a href="#">Pictures</a></li>
  <li><%= link_to "Categories", categories_admin_store_product_path(@product) %></li>
  <li><%= link_to "Coupons", coupons_admin_store_product_path(@product) %></li>
  <li><%= link_to "Extra Properties", extra_properties_admin_store_product_path(@product) %></li>
  <li><%= link_to "Label Elements", label_elements_admin_store_product_path(@product) %></li>
</ul>

<br>
<%= render partial: 'admin/shared/image_list', locals: { object: @product } %>



<% content_for :title, @product.title %>


<% content_for :breadcrumbs do %>
	<li><a href="#">eCommerce</a></li>
	<li><%= link_to "Products", admin_store_products_path(brand_id: @product.brand_id) %></li>
	<li><%= link_to @product.name_with_option, admin_store_product_path(@product)%> </li>
	<li class="active">edit</li>
<% end %>
