<h2><i class="fa fa-chart-line"></i> Reports</h2>
<hr>

<div class="col-md-6">
  <dl>
      <dt><%= link_to 'Best Sellers', admin_store_reports_product_sales_by_sku_path %></dt>
      <dl>Quanity of each product sold ordered by best sellers</dl>
    
      <dt><%= link_to 'Top Spenders', admin_store_reports_user_leaderboard_path %></dt>
      <dl>Orders placed by each customer</dl>
    
      <dt><%= link_to 'Purchase Frequency', admin_store_reports_purchase_frequency_path %></dt>
      <dl>How many people ordered 'n' times</dl>

      <dt>Order Volume -
        <%= link_to "daily", admin_store_reports_daily_sales_path %>,
        <%= link_to "monthly", admin_store_reports_monthly_sales_path %>
      </dt>
      <dl>Number of orders per day</dl>
    
    
      <dt><%= link_to "Dropshipper Stats", admin_store_reports_shipments_path %> </dt>
      <dl>Reports of dropshipper activity</dl>
    
    
      <dt><%= link_to "Current Stock", admin_store_reports_current_stock_path %> </dt>
      <dl>Items that are currently in stock and their value</dl>
    
    
      <dt><%= link_to "Pending Fulfillment", admin_store_reports_pending_fulfillment_path %> </dt>
      <dl>Items that need to be fulfilled currently</dl>
    
    
      <dt><%= link_to "Sales Trend", admin_store_reports_sales_trend_path %> </dt>
      <dl>Sales trend of each product</dl>
  </dl>
</div>

<% content_for :title, "Reports" %>

<% content_for :breadcrumbs do %>
  <li><a href="#">eCommerce</a></li>
  <li class="active">Reports</li>
<% end %>
