<h2>Product Leaderboard</h2>
<%= render 'admin/shared/report_filter' %>
<b>Total sold: <%= number_with_delimiter @data.sum { |x| x[3] } %></b><br>
<b>Total revenue: <%= number_to_currency @data.sum { |x| x[5] } %></b>
<hr>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/admin/store/reports/product_sales_by_sku">By SKU</a></li>
  <li role="presentation" class="active"><a href="#">By Label</a></li>
  <li role="presentation"><a href="/admin/store/reports/product_sales_by_affiliate">By Affiliate</a></li>
</ul>

<table class="table table-striped">
  <tr>
    <% unless params[:sales_channel].blank? %>
      <th>Sales Channel</th>
    <% end %>
    <th>Item</th>
    <th>Title</th>
    <th class="ralign">Qty Sold</th>
    <th class="ralign">Revenue</th>
  </tr>
  <% @data.each do |row| %>
    <tr>
      <% unless params[:sales_channel].blank? %>
        <td><%= row[0] %></td>
      <% end %>
      <td><%= row[1] %></td>
      <td><%= row[2] %></td>
      <td class="ralign"><%= number_with_delimiter row[3] %></td>
      <td class="ralign"><%= number_to_currency row[5] %></td>
    </tr>
  <% end %>
</table>


<%= content_for :title do %>
  Product Sales
<% end %>


<% content_for :breadcrumbs do %>
  <li><a href="#">eCommerce</a></li>
  <li><%= link_to "Reports", admin_store_reports_path %></li>
  <li class="active">Product Sales</li>
<% end %>
