<%= render 'admin/shared/report_filter' %>
<h2>Purchase Frequency</h2>
<hr>

<%
  orders_total = 0
  customers_total = 0
%>

<table class="table table-striped">
  <tr>
    <th>Number of Orders</th>
    <th>Customers</th>
  </tr>
  <% @data.each do |row|
    orders_total += row[0] * row[1]
    customers_total += row[1] %>
    <tr>
      <td><%= row[0] %></td>
      <td><%= row[1] %></td>
    </tr>
  <% end %>
  <tr>
    <td><b><%= number_with_delimiter orders_total %></b></td>
    <td><b><%= number_with_delimiter customers_total %></b></td>
  </tr>
</table>


<% content_for :title, "Purchase Frequency" %>

<% content_for :breadcrumbs do %>
  <li><a href="#">eCommerce</a></li>
  <li><%= link_to "Reports", admin_store_reports_path %></li>
  <li class="active">Purchase Frequency</li>
<% end %>
