<h2>
  <span class="pull-right light"><i class="fa fa-clock-o"> <%= systime DateTime.now %></i></span>
  Sales Trend
</h2>

<table id="sales-trend-table" class="table table-striped table-condensed tablesorter">
  <thead>
	<tr>
    <th>SKU</th>
    <th>Item</th>
    <th>Trend</th>
    <th>last 6 mo.</th>
    <th>last 3 mo.</th>
    <th>last 1 mo.</th>
    <th>last 2 wk.</th>
    <th>last 1 wk.</th>
	</tr>
  </thead>
  <% @data_6mo.each do |r| 
      mo3 = @data_3mo.find { |x| x[0] == r[0] }
      mo1 = @data_1mo.find { |x| x[0] == r[0] }
      wk2 = @data_2wk.find { |x| x[0] == r[0] }
      wk1 = @data_1wk.find { |x| x[0] == r[0] }
      
      mo3 = mo3.nil? ? 0 : mo3[1]
      mo1 = mo1.nil? ? 0 : mo1[1]
      wk2 = wk2.nil? ? 0 : wk2[1]
      wk1 = wk1.nil? ? 0 : wk1[1]
      
      data_points = [ 
        r[3] / 24,
        mo3 / 12,
        mo1 / 4,
        wk2 / 2,
        wk1 ]
    %>
  <tr>
    <td><%= link_to r[1], admin_store_product_path(r[0]) %></td>
    <td><%= r[2] %></td>
    <td><span class="inlinesparkline"><%= data_points.join(",")%></span></td>
    <td class="text-right"><%= r[3] %></td>
    <td class="text-right"><%= mo3 %></td>
    <td class="text-right"><%= mo1 %></td>
    <td class="text-right"><%= wk2 %></td>
    <td class="text-right"><%= wk1 %></td>
  </tr>
  <% end %>
  <tr>
    <td colspan="3"><b>Total:</b></td>
    <td class="text-right"><b><%= number_with_delimiter @data_6mo.sum { |x| x[3] } %></b></td>
    <td class="text-right"><b><%= number_with_delimiter @data_3mo.sum { |x| x[1] } %></b></td>
    <td class="text-right"><b><%= number_with_delimiter @data_1mo.sum { |x| x[1] } %></b></td>
    <td class="text-right"><b><%= number_with_delimiter @data_2wk.sum { |x| x[1] } %></b></td>
    <td class="text-right"><b><%= number_with_delimiter @data_1wk.sum { |x| x[1] } %></b></td>
  </tr>
</table>


<% content_for :title do %>
	Sales Trend
<% end %>

<% content_for :head do %>
  <link href="/rhombus_store/tablesorter.css" rel="stylesheet" type="text/css">
  <script src="/rhombus_store/jquery.tablesorter.min.js"></script>
  <script src="/rhombus_store/jquery.sparkline.min.js"></script> 

  <script>
    $(document).ready(function() {
      $("#sales-trend-table").tablesorter(); 
      $('.inlinesparkline').sparkline('html', { width: '50px' });
    });
  </script>

<% end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">eCommerce</a></li>
  <li><%= link_to "Reports", admin_store_reports_path %></li>
	<li class="active">Sales Trend</li>
<% end %>
