<%= render 'admin/shared/report_filter' %>
<h2>Top Spenders</h2>
<hr>
<%
  qty_total = 0
  amount_total = 0.0
%>

<table class="table table-striped">
  <tr>
    <th>Customer</th>
    <th class="text-center">Orders</th>
    <th class="ralign">Revenue</th>
  </tr>
  <% @data.each do |row|
    qty_total += row[2]
    amount_total += row[3] %>
    <tr>
      <td>
        <% if row[1].nil? %>
          <%= row[0] %>
        <% else %>
          <%= link_to row[0], admin_system_user_path(row[1], q: "orders") %>
        <% end %>
      </td>
      <td class="text-center"><%= row[2] %></td>
      <td class="ralign"><%= number_to_currency row[3] %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="1"></td>
    <td class="text-center"><b><%= number_with_delimiter qty_total %></b></td>
    <td class="ralign"><b><%= number_to_currency amount_total %></b></td>
  </tr>
</table>


<% content_for :title, "Top Spenders" %>

<% content_for :breadcrumbs do %>
  <li><a href="#">eCommerce</a></li>
  <li><%= link_to "Reports", admin_store_reports_path %></li>
  <li class="active">User Leaderboard</li>
<% end %>
