	<tr>
		<td><input type="checkbox" name="order_id[]" class="order-chk hidden-xs" value="<%= order.id %>"/></td>
		<td>
      <%= link_to order.id, admin_store_order_path(order) %>
      <% if order.auto_ship %>
        &nbsp; <i class="fa text-success fa-refresh"></i>
      <% end %>
      <% if order.po %>
        &nbsp; <i class="fa text-danger fa-file-text-o"></i>
      <% end %>
    </td>
    <td>
    <% if order.po %>
      <%= order.external_order_id %>
    <% elsif order.affiliate_campaign_id 
        ac = AffiliateCampaign.find_by(id: order.affiliate_campaign_id)
        unless ac.nil?%>
          <%= link_to ac.affiliate, admin_system_affiliate_path(ac.affiliate_id) %>
        <% end %>
    <% else %>
      <%= order.sales_channel %>
    <% end %>
    </td>
		<td><%= systime order.submitted if order.submitted%></td>
		<td>
			<% if order.user %>
				<%= link_to order.user, admin_system_user_path(order.user_id, q: :orders) %>
      <% elsif order.affiliate %>
        <%= link_to order.affiliate.name, admin_system_affiliate_path(order.affiliate_id, q: :orders) %>
      <% else %>
        <%= order.shipping_name.presence || order.billing_name %>
			<% end %>
		</td>
		<td><%= order.shipping_city %>, <%= order.shipping_state %></td>
		<td><%= number_to_currency(order.total) %></td>
    <td><%= order.ship_latest %></td>
    <td class="ralign hidden-xs"><%= shipment_icons(order) %></td>
		<td><%= order_status(order) %></td>
	</tr>