<h2>Order #<%= @order.id %></h2>

<%= simple_form_for [:admin, :store, @order], html: { class: 'form-inline', style: 'margin-left: 0;' } do |f| %>
  <input type="hidden" name="add_more_items" value=""/>
  
	<%= render 'admin/shared/error_messages', object: f.object %>
	
	 <div class="panel panel-info">
    <div class="panel-heading">
      <%= link_to '+ add more items', '#', class: 'add-more-items pull-right' %>
      Items
    </div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <th style="width: 200px;">Item</th>
          <th>Description</th>
          <th style="width: 130px;">Unit Price</th>
          <th style="width: 120px;">Quantity</th>
          <th style="width: 50px;"></th>
        </tr>
      <%= f.fields_for :items do |itemf| %>
        <% item = @order.items[itemf.index] %>
        <tr>
          <td><%= itemf.input_field :item_id, class: 'item-id' %></td>
          <td>
            <%= itemf.input_field :item_description, style: 'width: 70%', class: 'item-desc' %>&nbsp; 
            <span class="light affiliate-name"><%= item.affiliate %></span>
          </td>
          <td><%= itemf.input_field :unit_price, class: 'unit-price' %></td>
          <td><%= itemf.input_field :quantity, class: 'qty' %></td>
          <td><i class="fa fa-times"></i>
            <%= itemf.hidden_field :_destroy, class: 'destroy' %>
            <%= itemf.hidden_field :product_id, class: 'product-id' %>
            <%= itemf.hidden_field :affiliate_id, class: 'affiliate-id' %>
            <%= itemf.hidden_field :variation, class: 'variation' %>
            <%= itemf.hidden_field :daily_deal_id, class: 'daily-deal-id' %>
          </td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
  
  
  <div class="panel panel-info">
    <div class="panel-heading">Shipping & Billing</div>
    <div class="panel-body">
		  <div class="col-md-6">
			  <h4>Shipping address:</h4>
			  <%= f.input :shipping_name, label: 'Name' %>
        <%= f.input :shipping_company, label: 'Company'  %>
			  <%= f.input :shipping_street1, label: 'Street1'  %>
			  <%= f.input :shipping_street2, label: 'Street2'  %>
			  <%= f.input :shipping_city, label: 'City'  %>
			  <%= f.input :shipping_state, label: 'State'  %>
			  <%= f.input :shipping_zip, label: 'Zip'  %>
			  <%= f.input :shipping_country, label: 'Country'  %>
		  </div>
		  <div class="col-md-6">
			  <h4>Billing address:</h4>
			  <%= f.input :billing_name, label: 'Name' %>
        <%= f.input :billing_company, label: 'Company' %>
			  <%= f.input :billing_street1, label: 'Street1' %>
			  <%= f.input :billing_street2, label: 'Street2' %>
			  <%= f.input :billing_city, label: 'City' %>
			  <%= f.input :billing_state, label: 'State' %>
			  <%= f.input :billing_zip, label: 'Zip' %>
			  <%= f.input :billing_country, label: 'Country' %>
		  </div>
    </div>
	</div>
	
	
	<div class="panel panel-info">
	  <div class="panel-heading">Order Information</div>
    <div class="panel-body">
      <div class="col-md-6">
        <%= f.input :status, as: :select, collection: Order.valid_statuses %>
        <%= f.input :sales_channel %>
        <%= f.input :external_order_id %>
        <%= f.association :user %>
        <%= f.input :shipping_method %>
        <%= f.input :affiliate_campaign_id %>
        <%= f.input :gift %>
        <%= f.input :contact_phone, label: 'Phone' %>
        <%= f.input :notify_email, label: 'Email' %>  
      </div>
      <div class="col-md-6">
        <div class="form-group decimal optional order_subtotal">
          <label class="decimal optional control-label" for="order_subtotal">Subtotal</label>
          <%= f.input_field :subtotal %>  <%= link_to "update", "#", class: 'update-subtotal' %>
        </div>
        <%= f.input :tax_amount %>
        <%= f.input :tax_rate %>
        <%= f.input :shipping_cost %>
        <%= f.input :discount_amount %>
        <%= f.input :credit_applied %>
        <%= f.input :total %>
        <%= f.input :customer_note, as: :text, input_html: { class: 'span10', rows: 3}%>
      </div>
    </div>
  </div>

	
	<div class="form-actions">
		<%= f.button :submit %>
	</div>

<% end %>


<%= content_for :title do %>
	Orders: <%= @order.id %>
<% end %>

<% content_for :head do %>
    <style>
        .form-inline .form-group { margin: 10px 0; }
        .fa-times { cursor: pointer; }
    </style>
    
    <script>
    $(document).ready(function() {
      
      $(".fa-times").click(function () {
        $(this).parent().parent().hide("slow");
        $(this).siblings(".destroy").val("true");
        return false;
      });
      
      $(".add-more-items").click(function() {
        $("input[name='add_more_items']").val(<%= @order.items.length %>);
        $("form.form-inline").submit();
      });
      
      $(".update-subtotal").click(function(e) {
        
        var subtotal = 0.0;
        
        $(".unit-price").each(function() {  
          if ($(this).is(":visible")) {
            var unit_price = parseFloat($(this).val());
            var quantity = parseFloat($(this).parent().parent().find(".qty").val());
          
            if (!isNaN(unit_price) && !isNaN(quantity))
              subtotal += unit_price * quantity; 
          }
        });
        
        $("#order_subtotal").val(subtotal);
        e.preventDefault();
        
      });
      
      
      
      $(".item-id").change(function() {
        var item = $(this);
        
        $.get('/admin/store/products/item_info?sku=' + $(this).val(), function(data) {
          
          item.parent().parent().find('.product-id').val(data.product_id);
          item.parent().parent().find('.affiliate-id').val(data.affiliate_id);
          item.parent().parent().find('.affiliate-name').html(data.affiliate_name || '');
          item.parent().parent().find('.variation').val(data.variation);
          item.parent().parent().find('.item-desc').val(data.description);
          item.parent().parent().find('.unit-price').val(data.dealer_price);
          item.parent().parent().find('.daily-deal-id').val(data.daily_deal_id);
            
          if (data.status == 'ok') { 
            item.parent().parent().find('.qty').focus();
          } else {
            item.parent().parent().find('.item-desc').val('ITEM NOT FOUND!');
            item.parent().parent().find('.item-id').select();
          }
          
        });
      });
      
    });
    </script>
<% end %>




<% content_for :breadcrumbs do %>
	<li><a href="#">eCommerce</a></li>
	<li><%= link_to 'Orders', admin_store_orders_path %></li>
	<% unless @order.id.nil? %>
		<li><%= link_to '#' + @order.id.to_s, admin_store_order_path(@order)%></li>
		<li class="active">edit</li>
	<% else %>
		<li class="active">new</li>
	<% end %>
<% end %>
