<h2>Order #<%= @order.id %></h2>
<hr/>

<%= simple_form_for [:admin, :store, @order], html: { class: 'form-inline' } do |f| %>

	<%= render 'admin/shared/error_messages', object: f.object %>
	
	<div class="panel panel-info">
	    <div class="panel-heading">Order Information</div>
        <div class="panel-body">
            <div class="col-md-6">
                <%= f.input :status, as: :select, collection: Order.valid_statuses %>
                <%= f.input :sales_channel %>
                <%= f.input :external_order_id %>
                <%= f.association :user %>
                <%= f.input :shipping_method %>
                <%= f.input :affiliate_campaign_id %>
                <%= f.input :gift %>
                <%= f.input :customer_note, as: :text, input_html: { class: 'span10', rows: 3}%>
            </div>
            <div class="col-md-6">
                <%= f.input :subtotal %>
                <%= f.input :tax_amount %>
                <%= f.input :tax_rate %>
                <%= f.input :shipping_cost %>
                <%= f.input :discount_amount %>
                <%= f.input :credit_applied %>
                <%= f.input :total %>
            </div>
        </div>
	</div>

    <div class="panel panel-info">
      <div class="panel-heading">Shipping & Billing</div>
      <div class="panel-body">
		<div class="col-md-6">
			<h4>Shipping address:</h4>
			<%= f.input :shipping_name, label: 'Name' %>
            <%= f.input :shipping_company, label: 'Company'  %>
			<%= f.input :shipping_street1, label: 'Street1'  %>
			<%= f.input :shipping_street2, label: 'Street2'  %>
			<%= f.input :shipping_city, label: 'City'  %>
			<%= f.input :shipping_state, label: 'State'  %>
			<%= f.input :shipping_zip, label: 'Zip'  %>
			<%= f.input :shipping_country, label: 'Country'  %>
		</div>
		<div class="col-md-6">
			<h4>Billing address:</h4>
			<%= f.input :billing_name, label: 'Name' %>
            <%= f.input :billing_company, label: 'Company' %>
			<%= f.input :billing_street1, label: 'Street1' %>
			<%= f.input :billing_street2, label: 'Street2' %>
			<%= f.input :billing_city, label: 'City' %>
			<%= f.input :billing_state, label: 'State' %>
			<%= f.input :billing_zip, label: 'Zip' %>
			<%= f.input :billing_country, label: 'Country' %>
		</div>
      </div>
	</div>


    <div class="panel panel-success">
      <div class="panel-heading">Payment Information</div>
      <div class="panel-body">
		<div class="col-md-6">
			<%= f.input :payment_method, as: :select, collection: ['CREDIT_CARD', 'PAYPAL'], label: 'Method' %>
            <%= f.input :contact_phone, label: 'Phone' %>
            <%= f.input :notify_email, label: 'Email' %>
		</div>
		<div class="col-md-6">
			<%= f.input :cc_type, as: :select, collection: ['Visa', 'MasterCard', 'Discover', 'American Express', "Diner's Club", 'JCB'], label: 'Type' %>
			<%= f.input :cc_number, label: 'Number' %>
			<%= f.input :cc_expiration_month, as: :select, collection: (1..12), input_html: { class: 'span3' }, label: 'Exp Month' %>
			<%= f.input :cc_expiration_year, as: :select, collection: (2013..2023), input_html: { class: 'span3' }, label: 'Exp Year' %>
			<%= f.input :cc_code, input_html: { class: 'span2', maxlength: 4}, label: 'CCV2' %>
		</div>
      </div>
	</div>
	
	<div class="form-actions">
		<%= f.button :submit %>
	</div>

<% end %>


<%= content_for :title do %>
	Orders: <%= @order.id %>
<% end %>

<% content_for :head do %>
    <style>
        .form-inline .form-group { margin: 10px 0; }
    </style>
<% end %>




<% content_for :breadcrumbs do %>
	<li><a href="#">eCommerce</a></li>
	<li><%= link_to 'Orders', admin_store_orders_path %></li>
	<% unless @order.id.nil? %>
		<li><%= link_to '#' + @order.id.to_s, admin_store_order_path(@order)%></li>
		<li class="active">edit</li>
	<% else %>
		<li class="active">new</li>
	<% end %>
<% end %>
