<%
  order_counts = Order.where(domain_id: current_domain.id).group(:status).count
  order_counts['awaiting_shipment'] = 0 unless order_counts.keys.include?('awaiting_shipment')
  order_counts = order_counts.sort
%>


<div class="pull-right hidden-xs">
    <%= render 'admin/store/orders/group_actions'%>
</div>


<h2>
  <% if params[:po] == "1" %>
    <i class="fa fa-file-text-o"></i>
  <% else %>
    <i class="fa fa-shopping-cart"></i>
  <% end %>
  &nbsp;<%= (params[:status].presence || '').titlecase %> orders</h2>
  

<%= render "admin/shared/search_results_header", object: @orders %>

<form id="frmBatch" action="" method="post">
	<%= token_tag %>
  <input type="hidden" name="printer_id" value=""/>
  <% shipments = Shipment.where(order_id: @orders.map { |o| o.id }) %>
  
  <% if params[:q].nil? %>
  <ul class="nav nav-tabs" style="margin-bottom: 10px;">
    <% order_counts.each do |status, count|
        next if status == 'in cart'
        alert = (status == 'backordered' && count > 0) %>
    <li class="<%= "active" if params[:status] == status %>"><a href="<%= admin_store_orders_path(status: status)%>"><%= tab_count(status.titlecase, count, alert) %></a></li>
    <% end %>
    <li class="<%= "active" if params[:status].blank? %>"><a href="<%= admin_store_orders_path %>">All</a></li>
  </ul>
  <% end %>
  

  <%= will_paginate @orders %>
  <table class="table table-striped table-condensed footable">
  	<tr>
  		<th><input type="checkbox" id="chkAll" class="hidden-xs"/></th>
  		<th><%= sortable "store_orders.id", "Order #" %></th>
      <th data-breakpoints="xs"><%= sortable "store_orders.sales_channel", params[:po] == "1" ? "PO #" : "Sales Channel" %></th>
  		<th data-breakpoints="xs"><%= sortable "store_orders.submitted", "Submitted" %></th>
  		<th><%= sortable "store_orders.affiliate_id, store_orders.user_id", "Customer" %></th>
  		<th data-breakpoints="xs"><%= sortable "store_orders.shipping_city", "Location" %></th>
      <th data-breakpoints="xs"><%= sortable "store_orders.ship_latest", "Ship by" %></th>
      <th class="text-right" data-breakpoints="xs"><%= sortable "store_orders.total", "Total" %></th>
      <th class="hidden-xs"></th>
  		<th class="text-right">Status</th>
  	</tr>
  	<%= render @orders %>
  </table>

</form>

<%= render 'admin/shared/table_summary', data: @orders %>



<% content_for :title do %>
	<%= Domain.find(cookies[:domain_id]) %> Orders
<% end %>



<% content_for :breadcrumbs do %>
	<li><a href="#">eCommerce</a></li>
	<li class="active">Orders</li>
<% end %>