<div class="pull-right">

  <select id="selAction" class="form-control" style="display: inline; width: 70%">
      <option> - - Select Action - - </option>
      <option method="get" value="/admin/store/orders/new">New Order</option>
	    <option method="post" value="/admin/store/orders_create_shipment">Create Shipments</option>
      <option method="post" value="/admin/store/orders_print_receipts">Print Receipts (PDF)</option>
      <option method="post" value="/admin/store/orders_send_confirmation">Send Confirmation Email</option>
      <option method="post" value="/admin/store/orders_address_label">Print Address Labels</option>
      <optgroup label="Change order status to ">
          <option method="post" value="/admin/store/orders_update_status?status=submitted">Submitted</option>
          <option method="post" value="/admin/store/orders_update_status?status=completed">Completed</option>
          <option method="post" value="/admin/store/orders_update_status?status=processing">Processing</option>
          <option method="post" value="/admin/store/orders_update_status?status=shipped">Shipped</option>
          <option method="post" value="/admin/store/orders_update_status?status=shipped_by_vendor">Shipped by Vendor</option>
          <option method="post" value="/admin/store/orders_update_status?status=refunded">Refunded</option>
          <option method="post" value="/admin/store/orders_update_status?status=cancelled">Cancelled</option>
      </optgroup>
      <optgroup label="Show orders in status ">
          <option method="get" value="/admin/store/orders?status=submitted">Submitted</option>
          <option method="get" value="/admin/store/orders?status=unshipped">Unshipped</option>
          <option method="get" value="/admin/store/orders?status=shipped">Shipped</option>
          <option method="get" value="/admin/store/orders?status=cancelled">Cancelled</option>
          <option method="get" value="/admin/store/orders?status=refunded">Refunded</option>
          <option method="get" value="/admin/store/orders?status=backordered">Backordered</option>
          <option method="get" value="/admin/store/orders">All Orders</option>
      </optgroup>
  </select>
  <input type="button" class="btn btn-default btn-small" id="btnAction" value="Go" />	  
</div>


<h2>
  <% if params[:po] == "1" %>
    <i class="fa fa-file-text-o"></i>&nbsp; Purchase Orders</h2>
  <% else %>
    <i class="fa fa-shopping-cart"></i>&nbsp; <%= current_domain %> Orders</h2>
  <% end %>
<%= render "admin/shared/search_results_header", object: @orders %>

<form id="frmBatch" action="" method="post">
	<%= token_tag %>
  <% shipments = Shipment.where(order_id: @orders.map { |o| o.id }) %>
  
  <% if params[:q].nil? %>
  <ul class="nav nav-tabs" style="margin-bottom: 10px;">
    <li role="presentation" class="<%= "active" if params[:status] == "submitted" %>"><a href="<%= admin_store_orders_path(status: "submitted", po: params[:po])%>">Pending</a></li>
    <li role="presentation" class="<%= "active" if params[:status].blank? %>"><a href="<%= admin_store_orders_path(po: params[:po])%>">All</a></li>
  </ul>
  <% end %>

<%= will_paginate @orders %>
<table class="table table-striped table-condensed">
	<tr>
		<th><input type="checkbox" id="chkAll" /></th>
		<th>Order #</th>
    <th><%= params[:po] == "1" ? "PO #" : "Sales Channel" %></th>
		<th>Date</th>
		<th>Customer</th>
		<th>Location</th>
		<th>Amount</th>
    <th></th>
		<th>Status</th>
	</tr>
	<%= render @orders %>
</table>

</form>

<div class="table-summary">
	<%= number_with_delimiter(@orders.total_entries) %> records | <%= link_to 'CSV', admin_store_orders_path(format: :csv) %>
</div>



<% content_for :title do %>
	<%= Domain.find(cookies[:domain_id]) %> Orders
<% end %>



<% content_for :breadcrumbs do %>
	<li><a href="#">eCommerce</a></li>
	<li class="active"><%= "Purchase" if params[:po] == "1" %> Orders</li>
<% end %>


<% content_for :head do %>

	<script type="text/javascript">
	    $(document).ready(function () {

	        $("#btnAction").click(function () {
            var url = $("#selAction").val();
            var method = $("#selAction option:selected").attr("method");
            
            if (method == "post") {
	            $("#frmBatch").attr("action", url);
	            $("#frmBatch").attr("method", method);
	            $("#frmBatch").submit();
            } else {
              window.location = url;
            }
	        });

          $("#chkAll").change(function() {

            if ($(this).prop("checked"))
              $(".order-chk").prop("checked", true);
            else
              $(".order-chk").prop("checked", false);
          });

	    });
    </script>

<% end %>