<%
  status_list = Order.uniq(:status).pluck(:status)
  status_list << 'awaiting_shipment' if !status_list.include?('awaiting_shipment')
  status_list = status_list.sort
%>
<div class="pull-right">

  <select id="selAction" class="form-control" style="display: inline; width: 70%">
      <option> - - Select Action - - </option>
      <option method="get" value="/admin/store/orders/new">New Order</option>
	    <option method="post" value="/admin/store/orders_create_shipment">Create Shipments</option>
      <option method="post" value="/admin/store/orders_print_receipts">Print Receipts (PDF)</option>
      <option method="post" value="/admin/store/orders_send_confirmation">Send Confirmation Email</option>
      <option method="post" value="/admin/store/orders_address_label">Print Address Labels</option>
      <optgroup label="Change order status to ">
      <% Order.valid_statuses.each do |status| %>
          <option method="post" value="/admin/store/orders_update_status?status=<%= status %>"><%= status.titlecase%></option>
      <% end %>
      </optgroup>
  </select>
  <input type="button" class="btn btn-default btn-small" id="btnAction" value="Go" />	  
</div>


<h2>
  <% if params[:po] == "1" %>
    <i class="fa fa-file-text-o"></i>
  <% else %>
    <i class="fa fa-shopping-cart"></i>
  <% end %>
  &nbsp;<%= (params[:status].presence || '').titlecase %> orders</h2>
  
  
<hr>
<%= render "admin/shared/search_results_header", object: @orders %>

<form id="frmBatch" action="" method="post">
	<%= token_tag %>
  <% shipments = Shipment.where(order_id: @orders.map { |o| o.id }) %>
  
  <% if params[:q].nil? %>
  <ul class="nav nav-tabs" style="margin-bottom: 10px;">
    <% status_list.each do |status|
        next if status == 'in cart'
        count = Order.where(domain_id: current_domain.id, status: status).count %>
    <li class="<%= "active" if params[:status] == status %>"><a href="<%= admin_store_orders_path(status: status)%>"><%= tab_count(status.titlecase, count) %></a></li>
    <% end %>
  </ul>
  <% end %>
  

  <%= will_paginate @orders %>
  <table class="table table-striped table-condensed">
  	<tr>
  		<th><input type="checkbox" id="chkAll" /></th>
  		<th>Order #</th>
      <th><%= params[:po] == "1" ? "PO #" : "Sales Channel" %></th>
  		<th>Submitted</th>
  		<th>Customer</th>
  		<th>Location</th>
  		<th>Amount</th>
      <th>Ship by</th>
      <th></th>
  		<th>Status</th>
  	</tr>
  	<%= render @orders %>
  </table>

</form>

<%= render 'admin/shared/table_summary', data: @orders %>



<% content_for :title do %>
	<%= Domain.find(cookies[:domain_id]) %> Orders
<% end %>



<% content_for :breadcrumbs do %>
	<li><a href="#">eCommerce</a></li>
	<li class="active">Orders</li>
<% end %>


<% content_for :head do %>

	<script type="text/javascript">
	    $(document).ready(function () {

	        $("#btnAction").click(function () {
            var url = $("#selAction").val();
            var method = $("#selAction option:selected").attr("method");
            
            if (method == "post") {
	            $("#frmBatch").attr("action", url);
	            $("#frmBatch").attr("method", method);
	            $("#frmBatch").submit();
            } else {
              window.location = url;
            }
	        });

          $("#chkAll").change(function() {

            if ($(this).prop("checked"))
              $(".order-chk").prop("checked", true);
            else
              $(".order-chk").prop("checked", false);
          });

	    });
    </script>

<% end %>