<div class="dropdown pull-right">
  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-hand-right"></i> Select Action
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li>
      <%= link_to new_admin_store_shipment_path(order_id: @order.id) do %>
          <i class="icon-truck"></i> Create Shipment
      <% end %>
    </li>
    <li>
      <%= link_to edit_admin_store_order_path(@order) do %>
          <i class="icon-edit"></i> Modify Order
      <% end %>
    </li>
    <li>
      <%= link_to invoice_admin_store_order_path(@order), target: "_blank" do %>
          <i class="icon-file-alt"></i> Print Invoice
      <% end %>
    </li>
    <li>
      <%= link_to invoice_admin_store_order_path(@order), target: "_blank", class: 'hide' do %>
          <i class="icon-dollar"></i> Add Payment
      <% end %>
    </li>
    <li>
      <%= link_to product_labels_admin_store_order_path(@order) do %>
          <i class="icon-print"></i> Print Labels
      <% end %>
    </li>
  </ul>
</div>

<h2>Order #<%= @order.id %></h2>

<%= render 'admin/shared/error_messages', object: @order %>


<div>
  <b>Submitted: </b> <%= time_ago_in_words(@order.submitted) %> ago
  <% unless @order.user_id.nil? %>
    &nbsp; &nbsp; <i class="icon-user"></i> <%= link_to @order.user.name, admin_system_user_path(@order.user) %>
  <% end %>

  <% unless @order.affiliate_campaign_id.nil? %>
      &nbsp; &nbsp; <i class="icon-building"></i> <%= link_to @order.affiliate_campaign.affiliate.name, admin_system_affiliate_path(@order.affiliate_campaign.affiliate) %>
  <% end %>

  <% unless @order.external_order_id.blank? %>
      &nbsp; &nbsp; <i class="icon-link"></i> <%= @order.external_order_id %>
  <% end %>

  &nbsp; <%= order_status(@order, 'large') %> <%= "<i class='icon-gift'></i>".html_safe if @order.gift %>
</div>
<hr style="margin: 15px 0 20px 0;"/>



<div class="row">

  <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">Shipping Information</div>
        <div class="panel-body">
          <% unless @order.shipping_name.blank? %>
            <%= raw @order.shipping_company + '<br/>' unless @order.shipping_company.blank? %>
            <%= @order.shipping_name %><br/>
            <%= @order.shipping_street1 %><br/>
            <%= raw @order.shipping_street2 + '<br/>' unless @order.shipping_street2.blank? %>
            <%= @order.shipping_city %>, <%= @order.shipping_state %> <%= @order.shipping_zip %><br/>
            <%= @order.shipping_country %>
          <% else %>
              N/A
          <% end %>
        </div>
      </div>
  </div>


  <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">Billing Information</div>
        <div class="panel-body">
          <% unless @order.billing_street1.blank? %>
            <%= @order.billing_name %><br/>
            <%= raw @order.billing_company + '<br/>' unless @order.billing_company.blank? %>
            <%= @order.billing_street1 %><br/>
            <%= raw @order.billing_street2 + '<br/>' unless @order.billing_street2.blank? %>
            <%= @order.billing_city %>, <%= @order.billing_state %> <%= @order.billing_zip %><br/>
            <%= @order.billing_country %>
          <% else %>
            N/A
          <% end %>
        </div>
      </div>
  </div>


  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">Payment & Contact</div>
      <div class="panel-body">
        <% if @order.payment_method == 'CREDIT_CARD' %>
            <code>
              <%= @order.cc_type.upcase %>: &nbsp;<%= @order.cc_number %> -
              <%= @order.cc_expiration_month %>/<%= @order.cc_expiration_year %>
            </code>
        <% else %>
            <%= @order.sales_channel %>
            <%= @order.payment_method %>
        <% end %>

        <br/> <br/>
        <% unless @order.contact_phone.nil? %>
            <a href="tel:<%= @order.contact_phone %>"><%= @order.contact_phone %></a><br/>
        <% end %>
        <% unless @order.notify_email.nil? %>
            <%= mail_to @order.notify_email %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<h3>Items:</h3>
<table class="table table-condensed table-striped items">
  <tr>
    <th>Item:</th>
    <th>Description:</th>
    <th class="ralign">Unit price:</th>
    <th class="calign">Quantity:</th>
    <th class="ralign">Subtotal:</th>
  </tr>
  <% @order.items.each do |item| %>
      <tr>
        <td><%= item.item_id.upcase %></td>
        <td><%= link_to item.item_description, admin_store_product_path(item.product) %></td>
        <td class="ralign"><%= number_to_currency(item.unit_price)%></td>
        <td class="calign"><%= item.quantity %></td>
        <td class="ralign" class="ralign"><%= number_to_currency(item.quantity * item.unit_price) %></td>
      </tr>
  <% end %>
  <tr>
    <td colspan="4" class="ralign dark-border">Subtotal:</td>
    <td class="ralign dark-border"><%= number_to_currency(@order.subtotal)%></td>
  </tr>
  <% if !@order.shipping_method.blank? || @order.shipping_cost > 0.0 %>
      <tr>
        <td colspan="4" class="ralign"><%= @order.shipping_method %>:</td>
        <td class="ralign"><%= number_to_currency(@order.shipping_cost) %></td>
      </tr>
  <% end %>
  <% if @order.tax_amount > 0.0 %>
      <tr>
        <td colspan="4" class="ralign">Tax:</td>
        <td class="ralign"><%= number_to_currency(@order.tax_amount)%></td>
      </tr>
  <% end %>
  <% if @order.discount_amount > 0.0 %>
      <tr>
        <td colspan="4" class="ralign">
          <% unless @order.coupon_id.nil? %>
              <i>Coupon: <%= link_to @order.coupon.code, edit_admin_store_coupon_path(@order.coupon) %></i> &nbsp; &raquo; &nbsp;
          <% end %>
          Discount:
        </td>
        <td class="ralign"><%= number_to_currency(@order.discount_amount * -1.0)%></td>
      </tr>
  <% end %>
  <% if @order.credit_applied > 0.0 %>
      <tr>
        <td colspan="4" class="ralign">
          <% unless @order.voucher_id.nil? %>
              <i>Voucher: <%= link_to @order.voucher.code, admin_store_voucher_group_path(@order.voucher.voucher_group_id) %></i> &nbsp; &raquo; &nbsp;
          <% end %>
          Credit:</td>
        <td class="ralign"><%= number_to_currency(@order.credit_applied * -1.0)%></td>
      </tr>
  <% end %>
  <tr>
    <td colspan="4" class="ralign"><b>Total:</b></td>
    <td class="ralign"><b><%= number_to_currency(@order.total)%></b></td>
  </tr>
</table>

<% unless @order.customer_note.blank? %>
    <div style="margin-bottom: 20px;">
      <i class="icon-comment-alt" style="font-size: 1.8em; float: left; margin-right: 10px;"></i> <b>Customer note: </b></br>
      <%= @order.customer_note %>
    </div>
<% end %>

<br/>

<h3>History</h3>
<table class="table table-condensed">
  <tr>
    <th width="150">Timestamp</th>
    <th>User</th>
    <th>System / Event</th>
    <th>Amount</th>
    <th>Actions</th>
    <th>Comment</th>
  </tr>
  <% @order.history.each do |item| %>
      <tr>
        <td><%= systime item.created_at %></td>
        <td><% unless item.user_id.nil? %>
              <%= link_to item.user.name, admin_system_user_path(item.user), class: 'small' %>
          <% end %></td>
        <td><b><%= item.system_name %></b> &nbsp; <%= item.event_type %></td>
        <td><%= number_to_currency(item.amount) unless item.amount.nil? %></td>
        <td>
          <% if item.event_type == 'shipment_created' %>
              <%= link_to "view", admin_store_shipment_path(item.identifier) %>
          <% elsif item.event_type == 'package_shipped' %>
              <%= link_to "print label", print_shipping_label_admin_store_order_path(order_history_id: item.id) %>
          <% end %>
        </td>
        <td>
          <%= item.comment %>
          <% if item.event_type == 'package_shipped' %>
              : <%= item.identifier %>
          <% end %>
        </td>
      </tr>
  <% end %>
  <tr>
    <td><%= systime @order.created_at %></td>
    <td><% unless @order.user_id.nil? %>
          <%= link_to @order.user.name, admin_system_user_path(@order.user), class: 'small' %>
      <% end %></td>
    <td><b>Rhombus</b> &nbsp; order_created</td>
    <td><%= number_to_currency(@order.total) %></td>
    <td><%= link_to "email invoice", resend_email_admin_store_order_path(@order) %></td>
    <td>Order created</td>
  </tr>
</table>





<%= content_for :title do %>
	Orders: <%= @order.id %>
<% end %>



<% content_for :breadcrumbs do %>
	<li><a href="#">eCommerce</a></li>
	<li><%= link_to 'Orders', admin_store_orders_path %></li>
	<li class="active">#<%= @order.id %></li>
<% end %>

