<h2>Transaction #<%= @transaction.id %></h2>


<%= simple_form_for [:admin, :inventory, @transaction] do |f| %>
  <input type="hidden" name="add_more_items" value=""/>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :shipment_id %>
  <%= f.hidden_field :purchase_order_id %>

	<%= render 'admin/shared/error_messages', object: f.object %>

  <div class="row" style="margin-left: 0;">
    <div class="col-md-6">
  	<table class="table table-bordered table-condensed summary">
  		<tr>
  			<td class="key">Entity: </td>
  			<td>
          <% if @transaction.shipment %>
            <%= link_to @transaction.shipment.to_s, admin_store_shipment_path(@transaction.shipment) %>
          <% elsif @transaction.purchase_order %>
            <%= link_to "PO #{@transaction.purchase_order_id}", admin_inventory_purchase_order_path(@transaction.purchase_order_id) %>
          <% else %>
            Manual
          <% end %>
  			</td>
  		</tr>
      <% unless @transaction.created_at.nil? %>
  		<tr class="key">
  			<td>Transaction time: </td>
  			<td><%= systime @transaction.created_at %></td>
  		</tr>
      <% end %>
  		<tr>
  			<td class="key">Created by: </td>
  			<td>
        <% if @transaction.user_id %>
          <%= link_to @transaction.user, admin_system_user_path(@transaction.user) %>
        <% else %>
          <span class="light">- system -</span>
        <% end %>
        </td>
  		</tr>
  	</table>
    </div>
    <div class="col-md-6">
      <%= f.input_field :notes, placeholder: 'Notes...', style: "width: 100%; height: 100px;" %>
    </div>
  </div>


	 <div class="panel panel-info">
    <div class="panel-heading">
      <%= link_to '+ add more items', '#', class: 'add-more-items pull-right' %>
      Items
    </div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <th>SKU / UPC</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Location</th>
          <th >Lot #</th>
          <th>Expiration</th>
          <th></th>
        </tr>
      <%= f.simple_fields_for :items do |itemf| %>
         <% 
           item = @transaction.items[itemf.index] 
           p = Product.find_by(sku: item.sku)
         %>
        <tr>
          <td><%= itemf.input_field :sku, class: "item-id" %></td>
          <td class="item-desc"><%= p.name_with_option unless p.nil? %></td>
          <td><%= itemf.input_field :quantity, class: "text-right qty" %></td>
          <td><%= itemf.input_field :inventory_location_id, collection: InventoryLocation.order(:name) %></td>
          <td><%= itemf.input_field :lot %></td>
          <td><%= itemf.input_field :expiration, class: "text-center" , placeholder: 'YYMM' %></td>
          <td>
            <i class="fa fa-times"></i>
            <%= itemf.hidden_field :_destroy, class: 'destroy' %>
          </td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
	
	<div class="form-actions">
		<%= button_tag "Save changes", :class => "btn btn-primary", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait ..." } %>
	</div>

<% end %>


<%= content_for :title do %>
	Inventory Transaction: <%= @transaction.id %>
<% end %>

<% content_for :head do %>
    <style>
        .form-inline .form-group { margin: 10px 0; }
        .fa-times { cursor: pointer; }
    </style>
    
    <script>
    $(document).ready(function() {
      
      $(".fa-times").click(function () {
        $(this).parent().parent().hide("slow");
        $(this).siblings(".destroy").val("true");
        return false;
      });
      
      $(".add-more-items").click(function() {
        $("input[name='add_more_items']").val(<%= @transaction.items.length %>);
        $("form.form-horizontal").submit();
      });

      $(".item-id").on("change", function() {
        var item = $(this);
        
        $.get('/admin/store/products/item_info?sku=' + $(this).val(), function(data) {
          
          item.parent().parent().find('.item-desc').html(data.description);
           
          if (data.status == 'ok') { 
            item.parent().parent().find('.item-id').val(data.sku);
            item.parent().parent().find('.qty').focus();
          } else {
            item.parent().parent().find('.item-desc').html('ITEM NOT FOUND!');
            item.parent().parent().find('.item-id').select();
          }
          
        });
      });
      
      $(".item-id").keypress(function(e) {
        if(e.which == 13) {
          e.preventDefault();
          return $(e.target).blur();
        }
      });
      
    });
    </script>
<% end %>




<% content_for :breadcrumbs do %>
  <li><a href="#">Invenotry</a></li>
	<li><%= link_to "Inventory Transactions", admin_inventory_inventory_transactions_path %></li>
	<li class="active">edit</li>
<% end %>
