<h2>Transaction #<%= @transaction.id %></h2>

<%= simple_form_for [:admin, :inventory, @transaction] do |f| %>
  <input type="hidden" name="add_more_items" value=""/>
  
	<%= render 'admin/shared/error_messages', object: f.object %>
	
	 <div class="panel panel-info">
    <div class="panel-heading">
      <%= link_to '+ add more items', '#', class: 'add-more-items pull-right' %>
      Items
    </div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <th style="width: 200px;">Type</th>
          <th>Description</th>
          <th style="width: 130px;">Unit Price</th>
          <th style="width: 120px;">Quantity</th>
          <th style="width: 120px;">Accepted</th>
          <th style="width: 50px;"></th>
        </tr>
      <%= f.fields_for :items do |itemf| %>
        <tr>
          <td><%= itemf.input_field :inventoriable_type, class: 'item-id' %></td>
          <td><%= itemf.input_field :inventoriable_id, class: 'unit-price' %></td>
          <td><%= itemf.input_field :inventory_location_id, class: 'qty' %></td>
          <td><%= itemf.input_field :quantity %></td>
          <td><i class="fa fa-times"></i>
            <%= itemf.hidden_field :_destroy, class: 'destroy' %>
          </td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
	
	<div class="form-actions">
		<%= button_tag "Save changes", :class => "btn btn-primary", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait ..." } %>
	</div>

<% end %>


<%= content_for :title do %>
	Inventory Transaction: <%= @transaction.id %>
<% end %>

<% content_for :head do %>
    <style>
        .form-inline .form-group { margin: 10px 0; }
        .fa-times { cursor: pointer; }
    </style>
    
    <script>
    $(document).ready(function() {
      
      $(".fa-times").click(function () {
        $(this).parent().parent().hide("slow");
        $(this).siblings(".destroy").val("true");
        return false;
      });
      
      $(".add-more-items").click(function() {
        $("input[name='add_more_items']").val(<%= @transaction.items.length %>);
        $("form.form-horizontal").submit();
      });

      $(".item-id").change(function() {
        var item = $(this);
        
        $.get('/admin/store/products/item_info?sku=' + $(this).val(), function(data) {
          
          item.parent().parent().find('.product-id').val(data.product_id);
          item.parent().parent().find('.affiliate-id').val(data.affiliate_id);
          item.parent().parent().find('.affiliate-name').html(data.affiliate_name || '');
          item.parent().parent().find('.variation').val(data.variation);
          item.parent().parent().find('.item-desc').val(data.description);
          item.parent().parent().find('.unit-price').val(data.dealer_price);
          item.parent().parent().find('.daily-deal-id').val(data.daily_deal_id);
            
          if (data.status == 'ok') { 
            item.parent().parent().find('.qty').focus();
          } else {
            item.parent().parent().find('.item-desc').val('ITEM NOT FOUND!');
            item.parent().parent().find('.item-id').select();
          }
          
        });
      });
      
    });
    </script>
<% end %>




<% content_for :breadcrumbs do %>
  <li><a href="#">Invenotry</a></li>
	<li><%= link_to "Inventory Transactions", admin_inventory_inventory_transactions_path %></li>
	<li class="active">edit</li>
<% end %>
