<div class="pull-right">
  <%= link_to new_admin_inventory_inventory_item_path, class: 'btn btn-default btn-sm' do %>
    <i class="fa fa-plus"></i> Add items
  <% end %>
  <%= link_to new_admin_inventory_inventory_item_path, class: 'btn btn-default btn-sm' do %>
    <i class="fa fa-right"></i> Move items
  <% end %>
  <%= link_to new_admin_inventory_inventory_item_path, class: 'btn btn-default btn-sm' do %>
    <i class="fa fa-minus"></i> Remove items
  <% end %>
</div>
<h2><i class="fa fa-tags"></i>&nbsp; Inventory Items</h2>


<%= will_paginate @transactions %>
<table class="table table-striped table-condensed">
	<tr>
		<th>Timestamp</th>
		<th>Entity</th>
    <td>Action</th>
		<th class="text-center">Items</th>
    <th class="text-right">Quantity</th>
		<th class="text-center">Entered by</th>
    <th></th>
	</tr>
	<%= render @transactions %>
</table>


<%= render 'admin/shared/table_summary', data: @transactions %>


<% content_for :title do %>
	Inventory Items
<% end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">Inventory</a></li>
	<li class="active">Items</li>
<% end %>