<% 
	new_orders = StoreCache.new_orders_count
	new_shipments = StoreCache.pending_shipments_count
  new_pos = StoreCache.new_purchase_orders_count
  max = [new_orders, new_shipments].max
  
%>

<li class="<%= 'active' if request.original_url.include? 'admin/store' %>">
  <a href="#"><i class="fa fa-shopping-cart fa-fw"></i> eCommerce  
  <% if max > 0 %>
  &nbsp; &nbsp; <span class="badge"><%= max %></span>
  <% end %>
  <span class="fa arrow"></span>
  </a>
  <ul class="nav nav-second-level">
    <li><%= link_to "Autoship", admin_store_auto_ship_items_path %></li>
    <li><%= link_to "Brands", admin_store_brands_path %></li>
    <li><%= link_to "Coupons", admin_store_coupons_path %></li>
    <li><%= link_to "Custom Labels", admin_store_label_sheets_path %></li>
    <li><%= link_to "Daily Deals", admin_store_daily_deals_path %></li>
    <li><%= link_to "Invoice Images", admin_store_invoice_images_path %></li>
    <li>
    <%= link_to admin_store_orders_path(status: :awaiting_shipment) do %>
    Orders
    <% if new_orders > 0 %>
    	<span class="badge pull-right"><%= new_orders %></span>
    <% end %>
    <% end %>
    </li>
    <li><%= link_to "Products", admin_store_products_path %></li>
    <li><%= link_to "Reports", admin_store_reports_path %></li>
    <li><%= link_to "Shipping Options", admin_store_shipping_options_path %></li>
    <li>
    <%= link_to admin_store_shipments_path(status: "pending") do %>
    Shipments
    <% if new_shipments > 0 %>
    	<span class="badge pull-right"><%= new_shipments %></span>
    <% end %>
    <% end %>
    </li>         
    <li><%= link_to "Tax Rates", admin_store_tax_rates_path %></li>
    <li><%= link_to "UPC Codes", admin_store_upc_index_path %></li>
    <li><%= link_to "Vouchers", admin_store_voucher_groups_path %></li>
  </ul>
</li>

<li class="<%= 'active' if request.original_url.include? 'admin/inventory' %>">
  <a href="#"><i class="fa fa-book fa-fw"></i> Inventory 
    <% if new_pos > 0 %>
    &nbsp; &nbsp; <span class="badge"><%= new_pos %></span>
    <% end %>
    <span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li><%= link_to "Items", admin_inventory_inventory_items_path %></li>
    <li><%= link_to "Transactions", admin_inventory_inventory_transactions_path %></li>
    <li>
      <%= link_to admin_inventory_purchase_orders_path(status: :released) do %>
      Purchase Orders
      <% if new_pos > 0 %>
      	<span class="badge pull-right"><%= new_pos %></span>
      <% end %>
      <% end %>
    </li>
    <li><%= link_to "Reports", admin_inventory_reports_path %></li>
    <li><%= link_to "Suppliers", admin_system_affiliates_path(c: :suppliers) %></li>
    <li><%= link_to "Warehouse setup", admin_inventory_inventory_locations_path %></li>
  </ul>
</li>
